In [1]:
import networkx as nx
import random
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')
from matplotlib import pyplot
import seaborn as sns
sns.set()
sns.set_context("talk")
import numpy as np
import pandas as pd
import pickle 
import os
import sys
import shutil
# Run this to suppress all DeprecationWarnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

from matplotlib.ticker import (MultipleLocator, AutoMinorLocator)
sns.set_theme()
np.random.seed(0)

In [2]:
"""
Helper Functions
"""

# function checks if directory exists, if not it constructs it
def check_directory_exists(dir_name):
    if not os.path.exists(dir_name):
        os.makedirs(dir_name)

# function saves DataFrame, list, or set as a textfile in a specific folder
def save_to_text_file(output_folder_dest, input_data, text_file_name):
    text_file_ouput = output_folder_dest + text_file_name + ".txt"
    drug_output_info_file = open(text_file_ouput, 'w+')
    if isinstance(input_data, pd.DataFrame):
        drug_output_info_file.write(input_data.to_string())
    else:
        drug_output_info_file.write(str(input_data))
    drug_output_info_file.close() 
    print("Constructed and saved", text_file_ouput)

# Read in Pickle File
def read_pickle_file(file_path):
    if not os.path.exists(file_path):
        sys.exit("Can't locate input file %s" % file_path)
    return pd.read_pickle(file_path)
    
# Save data into a pickel file
def save_to_pickle_file(output_folder_dest, dict_data, dict_file_name):
    output_dict_filename = output_folder_dest + dict_file_name + '.pkl'
    with open(output_dict_filename, 'wb') as handle:
        pickle.dump(dict_data, handle, protocol=pickle.HIGHEST_PROTOCOL)
    print("Constructed and saved", output_dict_filename)

# Read in a CSV file
def read_csv_file(file_path, input_sep=',', input_delimiter=None, input_index_col=None, input_dtype=None, input_delim_whitespace=False, input_low_memory=True):
    if not os.path.exists(file_path):
        sys.exit("Can't locate input file %s" % file_path)
    return pd.read_csv(filepath_or_buffer=file_path, sep=input_sep, delimiter=None, index_col=input_index_col, dtype=input_dtype, delim_whitespace=input_delim_whitespace, low_memory=input_low_memory)

# funcion saves DataFrame or list to as a textfile
def save_to_csv_file(output_folder_dest, df, csv_file_name, save_with_indexing=False):
    output_filename = output_folder_dest + csv_file_name + ".csv"
    df.to_csv(output_filename, index=save_with_indexing)
    print("Constructed and saved", output_filename)
    
def read_csv_file(file_path, input_sep=',', input_delimiter=None, input_index_col=None, input_dtype=None, input_delim_whitespace=False, input_low_memory=True):
    return pd.read_csv(filepath_or_buffer=file_path, sep=input_sep, delimiter=None, index_col=input_index_col, dtype=input_dtype, delim_whitespace=input_delim_whitespace, low_memory=input_low_memory)

def save_to_gpickle_file(output_folder_dest, data, file_name):
    output_filename = output_folder_dest + file_name + ".gpickle"
    nx.write_gpickle(data, output_filename)
    print("Constructed and saved", output_filename)
    
def read_networkx_gpickle_file(file_path):
    if not os.path.exists(input_file_name):
        sys.exit("Can't locate input file %s" % file_path)
    return nx.read_gpickle(file_path)

In [3]:
filter_type_dict = {"NOT_FILTERED_":[False, False, False, False], 
                    "FLTERED_FOR_SAME_EDGES_":[True, True, False, False], 
                    "FLTERED_FOR_SAME_NODES_":[True, False, True, False], 
                    "FLTERED_FOR_CLOSE_NODES_":[True, False, False, True]}

output_folder_lst = ['output_pathfx_network_analysis', 'output_string_network_analysis', 'output_comparison_network_analysis']

In [4]:
for filter_type in filter_type_dict.keys():
    
    print()
    print("Nework Analysis for Filter Type:", filter_type)
    print("================================================================================================ \n \n")
    
    filter_data, filter_for_same_edges, filter_for_same_nodes, filter_for_close_nodes = filter_type_dict[filter_type]
    
    print("Running clean_pathfx_score_table.ipynb ... \n")
    %run ./clean_pathfx_score_table.ipynb
    print("Finished Running clean_pathfx_score_table.ipynb \n")

    print("Running clean_string_score_table.ipynb ... \n")
    %run ./clean_string_score_table.ipynb
    print("Finished Running clean_string_score_table.ipynb \n")

    if(filter_data):
        print("Running filter_string_and_pathfx_score_tables.ipynb ... \n")
        %run ./filter_string_and_pathfx_score_tables.ipynb
        print("Finished Running filter_string_and_pathfx_score_tables.ipynb \n")

    print("Running pathfx_network_analysis.ipynb ... \n")
    %run ./pathfx_network_analysis.ipynb
    print("Finished Running pathfx_network_analysis.ipynb \n")

    print("Running string_network_analysis.ipynb ... \n")
    %run ./string_network_analysis.ipynb
    print("Finished Running string_network_analysis.ipynb \n")

    print("Running comparison_network_analysis.ipynb ... \n")
    %run ./comparison_network_analysis.ipynb
    print("Finished Running comparison_network_analysis.ipynb \n")

    print("Finished Running all iPython Notebooks \n")
    
    print("Saving Output Folders...")
    
    for output_folder in output_folder_lst:

        custom_folder_name = "outputs/" + filter_type + output_folder
    
        if os.path.exists(custom_folder_name):
    
            try:
                shutil.rmtree(custom_folder_name)
            except OSError as e:
                print("Error: %s : %s" % (custom_folder_name, e.strerror))

        os.rename("outputs/" + output_folder, custom_folder_name)
        
        print("Folder " + output_folder + " renamed to " + custom_folder_name + " successfully")
    
    print()
    print("================================================================================================ \n \n")

Nework Analysis for Filter Type: NOT_FILTERED_
================================================================================================


Running clean_pathfx_score_table.ipynb ...

'pre_pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
139082       VCAN            SELP  0.279930
139083       NFIC            NFIB  0.279930
139084       NFIB            NFIX  0.279930
139085       SELK            SELK  0.416595
139086       NFIX            NFIX  0.279930

[139087 rows x 3 columns]

Nonself Records:

'pre_pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
139075     SFTPA2          SFTPA1  0.359348
139080       SELL            VCAN  0.279930
139082       VCAN            SELP  0.279930
139083       NFIC            NFIB  0.279930
139084       NFIB            NFIX  0.279930

[136531 rows x 3 columns]

Outputting Number of Distinct Proteins
------------------------------------------------
Number of Unique sources: 17602
Number of Unique targets: 18089
Number of Unique sources and targets: 23970

'mirror_copy_pre_pathfx_score_df'

                source     target    weight
0        isoproterenol  rs1042713  0.233675
1       Ace Inhibitors  rs1042713  0.285181
2          Angiotensin  rs1042713  0.285181
3                Plain  rs1042713  0.285181
4          risperidone  rs1042713  0.285181
...                ...        ...       ...
139075          SFTPA1     SFTPA2  0.359348
139080            VCAN       SELL  0.279930
139082            SELP       VCAN  0.279930
139083            NFIB       NFIC  0.279930
139084            NFIX       NFIB  0.279930

[136531 rows x 3 columns]

'pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
139075     SFTPA1          SFTPA2  0.359348
139080       VCAN            SELL  0.279930
139082       SELP            VCAN  0.279930
139083       NFIB            NFIC  0.279930
139084       NFIX            NFIB  0.279930

[273062 rows x 3 columns]

Outputting Number of Distinct Proteins
------------------------------------------------
Number of Unique sources: 23970
Number of Unique targets: 23970
Number of Unique sources and targets: 23970

Constructed and saved outputs/output_clean_pathfx_score_table/pathfx_score_table.csv
Constructed and saved inputs/input_pathfx_network_analysis/pathfx_score_table.csv
Constructed and saved inputs/input_filter_string_and_pathfx_score_tables/pathfx_score_table.csv
Finished Running clean_pathfx_score_table.ipynb

Running clean_string_score_table.ipynb ...

'string_pre_score_df'

,Protein 1 ID,Protein 2 ID,experiments,database,textmining,Physical Combined Score
0,9606.ENSP00000000233,9606.ENSP00000272298,0,0,0,41
1,9606.ENSP00000000233,9606.ENSP00000253401,0,0,0,41
2,9606.ENSP00000000233,9606.ENSP00000401445,0,0,0,41
3,9606.ENSP00000000233,9606.ENSP00000418915,0,0,542,542
4,9606.ENSP00000000233,9606.ENSP00000327801,0,0,0,41
...,...,...,...,...,...,...
11759449,9606.ENSP00000485678,9606.ENSP00000310488,0,0,0,41
11759450,9606.ENSP00000485678,9606.ENSP00000342448,0,0,0,41
11759451,9606.ENSP00000485678,9606.ENSP00000350222,0,0,0,41
11759452,9606.ENSP00000485678,9606.ENSP00000367590,0,900,0,900
11759453,9606.ENSP00000485678,9606.ENSP00000349930,0,0,0,41

'string_info_df'

,Protein ID,Protein,protein_size,annotation
0,9606.ENSP00000000233,ARF5,180,ADP-ribosylation factor 5; GTP-binding protein...
1,9606.ENSP00000000412,M6PR,277,Cation-dependent mannose-6-phosphate receptor;...
2,9606.ENSP00000001008,FKBP4,459,Peptidyl-prolyl cis-trans isomerase FKBP4; Imm...
3,9606.ENSP00000001146,CYP26B1,512,Cytochrome P450 26B1; Involved in the metaboli...
4,9606.ENSP00000002125,NDUFAF7,441,"Protein arginine methyltransferase NDUFAF7, mi..."
...,...,...,...,...
19561,9606.ENSP00000485671,ENSG00000280273,120,HCG1991042
19562,9606.ENSP00000485672,ENSG00000279458,86,annotation not available
19563,9606.ENSP00000485673,ENSG00000279988,243,annotation not available
19564,9606.ENSP00000485675,ENSG00000280116,84,annotation not available
19565,9606.ENSP00000485678,OR6Q1,317,Olfactory receptor 6Q1; Odorant receptor; Olfa...

'string_score_df'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
0,ARF5,9606.ENSP00000000233,CALM2,9606.ENSP00000272298,0,0,0,41
1,FKBP4,9606.ENSP00000001008,CALM2,9606.ENSP00000272298,0,0,0,41
2,CYP51A1,9606.ENSP00000003100,CALM2,9606.ENSP00000272298,0,0,0,41
3,PDK4,9606.ENSP00000005178,CALM2,9606.ENSP00000272298,0,0,104,104
4,RALA,9606.ENSP00000005257,CALM2,9606.ENSP00000272298,313,0,0,313
...,...,...,...,...,...,...,...,...
11759449,DUX4L7,9606.ENSP00000451411,ENSG00000274175,9606.ENSP00000479378,0,0,560,560
11759450,DUX4,9606.ENSP00000458065,ENSG00000274175,9606.ENSP00000479378,0,0,556,556
11759451,DUX4L8,9606.ENSP00000485452,ENSG00000274175,9606.ENSP00000479378,0,0,559,559
11759452,DYNLL2,9606.ENSP00000477310,C17orf47,9606.ENSP00000354874,212,0,0,212
11759453,FAM65B,9606.ENSP00000482957,C6orf229,9606.ENSP00000454913,0,0,0,41

'self_interacting_protein'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
2674693,ENSG00000243667,9606.ENSP00000295121,ENSG00000243667,9606.ENSP00000477980,800,0,0,800
7375638,ENSG00000216937,9606.ENSP00000364165,ENSG00000216937,9606.ENSP00000355078,0,0,0,41
7409667,ENSG00000216937,9606.ENSP00000355078,ENSG00000216937,9606.ENSP00000364165,0,0,0,41
8264678,ENSG00000243667,9606.ENSP00000477980,ENSG00000243667,9606.ENSP00000295121,800,0,0,800

'non_self_interacting_protein'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
0,ARF5,9606.ENSP00000000233,CALM2,9606.ENSP00000272298,0,0,0,41
1,FKBP4,9606.ENSP00000001008,CALM2,9606.ENSP00000272298,0,0,0,41
2,CYP51A1,9606.ENSP00000003100,CALM2,9606.ENSP00000272298,0,0,0,41
3,PDK4,9606.ENSP00000005178,CALM2,9606.ENSP00000272298,0,0,104,104
4,RALA,9606.ENSP00000005257,CALM2,9606.ENSP00000272298,313,0,0,313
...,...,...,...,...,...,...,...,...
11759449,DUX4L7,9606.ENSP00000451411,ENSG00000274175,9606.ENSP00000479378,0,0,560,560
11759450,DUX4,9606.ENSP00000458065,ENSG00000274175,9606.ENSP00000479378,0,0,556,556
11759451,DUX4L8,9606.ENSP00000485452,ENSG00000274175,9606.ENSP00000479378,0,0,559,559
11759452,DYNLL2,9606.ENSP00000477310,C17orf47,9606.ENSP00000354874,212,0,0,212
11759453,FAM65B,9606.ENSP00000482957,C6orf229,9606.ENSP00000454913,0,0,0,41

'proteins_interac_unique_ids'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0,0,0,41,41,41
1,FKBP4,CALM2,0,0,0,41,41,41
2,CYP51A1,CALM2,0,0,0,41,41,41
3,PDK4,CALM2,0,0,104,104,104,104
4,RALA,CALM2,313,0,0,313,313,313
...,...,...,...,...,...,...,...,...
11759449,DUX4L7,ENSG00000274175,0,0,560,560,560,560
11759450,DUX4,ENSG00000274175,0,0,556,556,556,556
11759451,DUX4L8,ENSG00000274175,0,0,559,559,559,559
11759452,DYNLL2,C17orf47,212,0,0,212,212,212
11759453,FAM65B,C6orf229,0,0,0,41,41,41

'proteins_interac_nonunique_ids'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
720,ENSG00000258947,9606.ENSP00000320295,CALM2,9606.ENSP00000272298,0,0,94,94
1737,ENSG00000258947,9606.ENSP00000451560,CALM2,9606.ENSP00000272298,0,0,84,84
1816,ENSG00000243667,9606.ENSP00000477980,CALM2,9606.ENSP00000272298,0,0,0,41
2128,ENSG00000258947,9606.ENSP00000320295,ARHGEF9,9606.ENSP00000253401,0,0,0,41
2524,ENSG00000258947,9606.ENSP00000451560,ARHGEF9,9606.ENSP00000253401,0,0,0,41
...,...,...,...,...,...,...,...,...
11724878,PADI6,9606.ENSP00000483125,ENSG00000239810,9606.ENSP00000480027,0,0,257,256
11724879,PRAMEF7,9606.ENSP00000484237,ENSG00000239810,9606.ENSP00000480027,0,0,0,41
11724880,PRAMEF25,9606.ENSP00000485258,ENSG00000239810,9606.ENSP00000480027,0,0,0,41
11724881,DUX4L8,9606.ENSP00000485452,ENSG00000239810,9606.ENSP00000480027,0,0,420,420
11724882,PRAMEF18,9606.ENSP00000485473,ENSG00000239810,9606.ENSP00000480027,0,0,0,41

,Protein 1,Protein 2,Protein 1 ID,Protein 2 ID,experiments,database,textmining,Physical Combined Score
5269,ENSG00000258947,ENSG00000166160,3,3,3,3,3,3
1540,ENSG00000166160,ENSG00000258947,3,3,3,3,3,3
5415,ENSG00000258947,GFRA2,2,2,2,2,2,2
4717,ENSG00000258947,ANKS1B,2,2,2,2,2,2
8027,LETM1,ENSG00000183628,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...
4086,ENSG00000243667,PRKAR1B,1,1,1,1,1,1
4085,ENSG00000243667,PRKAR1A,1,1,1,1,1,1
4084,ENSG00000243667,PRKACG,1,1,1,1,1,1
4083,ENSG00000243667,PRKACB,1,1,1,1,1,1
10829,ZUFSP,ENSG00000197054,1,1,1,1,1,1

1    5608
2    5220
3       2
Name: Physical Combined Score, dtype: int64

'corrected_proteins_interac_nonunique_ids'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,339010,ENSG00000243667,NaN,NaN,NaN,NaN,41,41.0
1,339010,ENSG00000258947,NaN,NaN,NaN,NaN,41,41.0
2,AAMDC,ENSG00000243667,NaN,NaN,NaN,NaN,41,41.0
3,ABCA4,ENSG00000166160,NaN,NaN,NaN,NaN,145,145.0
4,ABCB1,ENSG00000258947,NaN,NaN,NaN,NaN,329,307.5
...,...,...,...,...,...,...,...,...
10825,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,268,267.0
10826,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,214,214.0
10827,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,215,213.5
10828,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,41,41.0
10829,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,284,284.0

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.0,0.0,0.0,41.0,41,41.0
1,FKBP4,CALM2,0.0,0.0,0.0,41.0,41,41.0
2,CYP51A1,CALM2,0.0,0.0,0.0,41.0,41,41.0
3,PDK4,CALM2,0.0,0.0,104.0,104.0,104,104.0
4,RALA,CALM2,313.0,0.0,0.0,313.0,313,313.0
...,...,...,...,...,...,...,...,...
10825,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,268,267.0
10826,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,214,214.0
10827,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,215,213.5
10828,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,41,41.0
10829,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,284,284.0

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
10825,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,0.268,0.2670
10826,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,0.214,0.2140
10827,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,0.215,0.2135
10828,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,0.041,0.0410
10829,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,0.284,0.2840

Printing out counting statistics for entire filtering and correction process
-----------------------------------------------------------------------------
Number of Original Records: 11759454
Number of Self-Interacting Protein Records: 4
Number of Non-self Interacting Protein Records: 11759450

Number of Records containing Non-self Interacting Unique Protein ID: 11743396
Number of Records containing Non-self Interacting Non-unique Protein ID: 16054
Number of Records containing Non-self Interacting Non-unique Protein ID (Corrected): 10830

Number of Records in Final Table: 11754226
Number of Records reduced: 5228

Constructed and saved outputs/output_clean_string_score_table/string_score_table.csv
Constructed and saved inputs/input_string_network_analysis/string_score_table.csv
Constructed and saved inputs/input_filter_string_and_pathfx_score_tables/string_score_table.csv
Finished Running clean_string_score_table.ipynb

Running pathfx_network_analysis.ipynb ...

'pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
273057     SFTPA1          SFTPA2  0.359348
273058       VCAN            SELL  0.279930
273059       SELP            VCAN  0.279930
273060       NFIB            NFIC  0.279930
273061       NFIX            NFIB  0.279930

[273062 rows x 3 columns]

Outputting Number of Distinct Proteins
------------------------------------------------
Number of Unique sources: 23970
Number of Unique targets: 23970
Number of Unique sources and targets: 23970

'pathfx_source_to_target_weight_stats_df'

,source,count,mean,std,max,min,sum
15441,UBC,6753,0.528777,0.132470,0.935012,0.279930,3570.832522
695,APP,1984,0.287942,0.040666,0.705007,0.246744,571.276135
13900,SUMO2,713,0.429295,0.086484,0.818355,0.246936,306.087256
14904,TP53,627,0.417612,0.124118,0.990000,0.246936,261.842982
23067,tat,502,0.321185,0.081879,0.770889,0.246744,161.235009
...,...,...,...,...,...,...,...
12591,SAMD1,1,0.323872,NaN,0.323872,0.323872,0.323872
12590,SAM1,1,0.279930,NaN,0.279930,0.279930,0.279930
12589,SAM-2,1,0.279930,NaN,0.279930,0.279930,0.279930
12588,SALL4,1,0.380279,NaN,0.380279,0.380279,0.380279
23969,zuclopenthixol,1,0.285181,NaN,0.285181,0.285181,0.285181

'pathfx_num_target_per_source_stats_df'

       Number Target Interacton Per Source
count                         23970.000000
mean                             11.391823
std                              51.499400
max                            6753.000000
min                               1.000000
sum                          273062.000000

'pathfx_num_interac_distribution_df'

     Number of Protein Interactions  count
0                                 1   5548
1                                 2   3582
2                                 3   3276
3                                 4   1710
4                                 5   1148
..                              ...    ...
191                             326      1
190                             280      1
189                             318      1
188                             281      1
238                            6753      1

[239 rows x 2 columns]

'pathfx_edge_score_distribution_df'

      Edge Score  count
0       0.279930  38181
1       0.323872  18816
2       0.380279  11701
3       0.471716  11610
4       0.346946   7669
...          ...    ...
729     0.690513      1
728     0.698414      1
727     0.681025      1
726     0.775171      1
1101    0.894947      1

[1102 rows x 2 columns]

'pathfx_removed_cross_pair_df'

           source          target    weight
7       rs1042713  spironolactone  0.285181
10      rs1042713      salbutamol  0.659492
12      rs1042713      salmeterol  0.659492
13      rs1042713      tiotropium  0.285181
20      rs1042714     terbutaline  0.233675
...           ...             ...       ...
273052      STAT1           STAT3  0.354509
273053      STAT1           STAT2  0.305411
273057     SFTPA1          SFTPA2  0.359348
273059       SELP            VCAN  0.279930
273060       NFIB            NFIC  0.279930

[136531 rows x 3 columns]

'pathfx_all_weight_stats_df'

              weight
count  136531.000000
mean        0.386598
std         0.131861
max         0.990000
min         0.233675
sum     52782.576648

Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_score_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_all_weight_stats_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_num_target_per_source_stats_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_source_to_target_weight_stats.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_num_interac_distribution_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_removed_cross_pair_pathfx_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in PathFX_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in PathFX (Zoomed)_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in PathFX (Zoomed 2x)_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of edge scores in PathFX_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of edge scores in PathFX (Zoomed)_histplot.png

PathFX Interactome
-------------------------------------------
Number of Unique sources: 23970
Number of Unique targets: 23970
Number of Unique sources and targets: 23970


Constructing Network graph for Protein-Protein Combined score interaction (Avg Physical Combined Score)


Saving Constructed Network graph for PathFX

PathFX NetworkX Interactome Graph
-------------------------------------
Number of Nodes: 23970
Number of Edges: 136531

Average node degree: 11.391823112223612
Standard Deviation node degree: 51.499400414332904
Max node degree: 6753.0
Min node degree: 1.0

Average edge weight: 0.3865977444499079
Standard Deviation node degree: 0.13186136402093826
Max edge weight: 0.99
Min edge weight: 0.2336752003400327

nx Graph is connected - False
Number of Connected Components: 116

Top 25 Proteins with Most Neighbors - Weighted Edge Scores
-------------------------------------------------------------------------------------
          source  count      mean       std       max       min          sum
15441        UBC   6753  0.528777  0.132470  0.935012  0.279930  3570.832522
695          APP   1984  0.287942  0.040666  0.705007  0.246744   571.276135
13900      SUMO2    713  0.429295  0.086484  0.818355  0.246936   306.087256
14904       TP53    627  0.417612  0.124118  0.990000  0.246936   261.842982
23067        tat    502  0.321185  0.081879  0.770889  0.246744   161.235009
4310        EGFR    428  0.411818  0.127012  0.990000  0.246936   176.258227
4484       EP300    418  0.396489  0.119200  0.831286  0.246936   165.732220
1506       BRCA1    407  0.385077  0.124197  0.832451  0.246744   156.726326
6113       HDAC1    394  0.424392  0.121547  0.990000  0.246936   167.210341
5809        GRB2    392  0.361033  0.091608  0.743959  0.279930   141.524839
15467      UBE2I    387  0.347021  0.097861  0.990000  0.246936   134.297148
3138     CSNK2A1    362  0.329635  0.076515  0.691677  0.246936   119.327712
13899      SUMO1    352  0.403492  0.091153  0.785320  0.246936   142.029252
4586        ESR1    352  0.414969  0.138258  0.990000  0.246936   146.069250
7523       KRT40    341  0.393193  0.096163  0.593777  0.279930   134.078956
8357        MDM2    326  0.431508  0.127941  0.872160  0.279641   140.671651
13662        SRC    318  0.386717  0.103964  0.745886  0.246936   122.976079
5691      GOLGA2    312  0.398331  0.097605  0.638448  0.246936   124.279199
6529    HSP90AA1    309  0.406634  0.114617  0.816383  0.279930   125.649811
14956      TRAF2    308  0.403022  0.110303  0.858890  0.279930   124.130628
4167        Dlg4    297  0.284500  0.033757  0.703476  0.246936    84.496410
3196      CTNNB1    284  0.428168  0.123251  0.990000  0.279641   121.599799
7548   KRTAP10-3    281  0.279930  0.000000  0.279930  0.279930    78.660447
3055      CREBBP    280  0.389392  0.101388  0.816659  0.246936   109.029691
6793       IKBKG    279  0.363579  0.129515  0.990000  0.279930   101.438559

Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_G.gpickle
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_score_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_num_target_per_source_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_removed_cross_pair_pathfx_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_all_weight_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_source_to_target_weight_stats_table.csv
Finished Running pathfx_network_analysis.ipynb

Running string_network_analysis.ipynb ...

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
11754221,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,0.268,0.2670
11754222,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,0.214,0.2140
11754223,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,0.215,0.2135
11754224,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,0.041,0.0410
11754225,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,0.284,0.2840

'string_num_protein_per_protein_stats_df'

       Number Protein Interaction Per Protein
count                            1.934400e+04
mean                             6.076420e+02
std                              5.287327e+02
max                              7.644000e+03
min                              1.000000e+00
sum                              1.175423e+07

'string_removed_cross_pair_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.0,0.0,0.000,0.041,0.041,0.0410
18,ACTL6B,CALM2,0.0,0.0,0.000,0.041,0.041,0.0410
26,AQP2,CALM2,0.0,0.0,0.051,0.050,0.050,0.0500
31,APOH,CALM2,0.0,0.0,0.000,0.041,0.041,0.0410
40,ANKRD54,CALM2,0.0,0.0,0.210,0.210,0.210,0.2100
...,...,...,...,...,...,...,...,...
11750292,ENSG00000258947,ZNF445,NaN,NaN,NaN,NaN,0.138,0.0895
11750293,ENSG00000258947,ZNF516,NaN,NaN,NaN,NaN,0.093,0.0875
11750294,ENSG00000258947,ZNF607,NaN,NaN,NaN,NaN,0.169,0.1595
11750295,ENSG00000258947,ZNRF1,NaN,NaN,NaN,NaN,0.041,0.0410
11750296,ENSG00000258947,ZNRF2,NaN,NaN,NaN,NaN,0.041,0.0410

'string_all_max_physical_combined_scores_stats_df'

       Max Physical Combined Score
count                 5.877113e+06
mean                  1.836416e-01
std                   2.219951e-01
max                   9.990000e-01
min                   4.100000e-02
sum                   1.079283e+06

'string_all_avg_physical_combined_scores_stats_df'

       Avg Physical Combined Score
count                 5.877113e+06
mean                  1.836376e-01
std                   2.219929e-01
max                   9.990000e-01
min                   4.100000e-02
sum                   1.079259e+06

Constructed and saved outputs/output_string_network_analysis/csv_files/string_score_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_num_protein_per_protein_stats_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_removed_cross_pair_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_all_max_physical_combined_scores_stats_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_all_avg_physical_combined_scores_stats_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_experiments_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_database_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_textmining_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_Physical Combined Score_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_Max Physical Combined Score_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_Avg Physical Combined Score_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of experiments in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of database in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of textmining in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Physical Combined Score in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Max Physical Combined Score in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Avg Physical Combined Score in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Avg Physical Combined Score in STRING (ZOOMED LEFT)_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Avg Physical Combined Score in STRING (ZOOMED RIGHT)_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in STRING_histplot.png

'string_summary_score_stats_for_avg_physical_combined_score_df'

            Protein ID  count      mean       std    max    min        sum
0                GAPDH   7644  0.241637  0.150712  0.994  0.041  1847.0700
1                 AKT1   6507  0.300910  0.222489  0.999  0.041  1958.0225
2                 TP53   6193  0.354423  0.240752  0.999  0.041  2194.9425
3                  INS   6053  0.320572  0.201611  0.998  0.041  1940.4200
4                  MYC   5786  0.294266  0.186558  0.999  0.041  1702.6225
...                ...    ...       ...       ...    ...    ...        ...
19339            PGBD3      1  0.532000       NaN  0.532  0.532     0.5320
19340          CCDC179      1  0.198000       NaN  0.198  0.198     0.1980
19341         FAM90A26      1  0.955000       NaN  0.955  0.955     0.9550
19342         C18orf42      1  0.196000       NaN  0.196  0.196     0.1960
19343  ENSG00000259171      1  0.041000       NaN  0.041  0.041     0.0410

[19344 rows x 7 columns]

STRING Database
-------------------------------------------
Number of Unique Protein 1s: 19344
Number of Unique Protein 2s: 19344
Number of Unique Protein: 19344


Constructing Network graph for Protein-Protein Combined score interaction (Avg Physical Combined Score)

Saving Constructed Network graph for Protein-Protein Combined score interaction (Avg Physical Combined Score)

STRING Database NetworkX Graph
-------------------------------------
Number of Nodes: 19344
Number of Edges: 5877113
Average node degree: 607.6419561621175
Standard Deviation node degree: 528.732679726321
Max node degree: 7644.0
Min node degree: 1.0
Average edge weight: 0.18363761665666914
Standard Deviation node degree: 0.2219928864881866
Max edge weight: 0.999
Min edge weight: 0.041
nx Graph is connected - True
Number of Connected Components: 1

Top 25 Proteins with Most Neighbors - Avg Physical Combined Scored
-------------------------------------------------------------------------------------
   Protein ID  count      mean       std    max    min        sum
0       GAPDH   7644  0.241637  0.150712  0.994  0.041  1847.0700
1        AKT1   6507  0.300910  0.222489  0.999  0.041  1958.0225
2        TP53   6193  0.354423  0.240752  0.999  0.041  2194.9425
3         INS   6053  0.320572  0.201611  0.998  0.041  1940.4200
4         MYC   5786  0.294266  0.186558  0.999  0.041  1702.6225
5        HRAS   5630  0.247494  0.214646  0.998  0.041  1393.3930
6         ALB   5425  0.286800  0.181702  0.992  0.041  1555.8900
7       MAPK3   5269  0.248985  0.233512  0.999  0.041  1311.9045
8        EGFR   5156  0.300841  0.232236  0.999  0.041  1551.1375
9       LRRK2   4858  0.097913  0.124326  0.962  0.041   475.6625
10        TNF   4766  0.294572  0.206300  0.999  0.041  1403.9300
11      MAPK1   4703  0.261218  0.262223  0.999  0.041  1228.5080
12       ACTB   4606  0.231971  0.200861  0.996  0.041  1068.4600
13        SRC   4588  0.293880  0.248988  0.999  0.041  1348.3230
14        EGF   4480  0.314854  0.220550  0.999  0.041  1410.5440
15   HSP90AA1   4268  0.241845  0.239994  0.996  0.041  1032.1950
16     NOTCH1   4207  0.272807  0.190814  0.999  0.041  1147.6990
17       PTEN   4164  0.253471  0.203714  0.997  0.041  1055.4540
18        JUN   4159  0.285406  0.223273  0.999  0.041  1187.0055
19     RNASEL   4157  0.075232  0.116224  0.983  0.041   312.7390
20        IL6   4118  0.339376  0.221689  0.999  0.041  1397.5490
21      HDAC1   4047  0.213653  0.247289  0.999  0.041   864.6535
22        FN1   3983  0.304662  0.219484  0.995  0.041  1213.4705
23      CASP3   3958  0.276528  0.190892  0.999  0.041  1094.4970
24     CDKN2A   3938  0.235645  0.169439  0.998  0.041   927.9715

Constructed and saved inputs/input_comparison_network_analysis/string/string_G.gpickle
Constructed and saved inputs/input_comparison_network_analysis/string/string_score_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_num_protein_per_protein_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_removed_cross_pair_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_all_avg_physical_combined_scores_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_summary_score_stats_for_Avg.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_summary_score_stats_for_Avg Physical Combined Score_per_protein.csv
Finished Running string_network_analysis.ipynb

Running comparison_network_analysis.ipynb ...

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
11754221,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,0.268,0.2670
11754222,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,0.214,0.2140
11754223,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,0.215,0.2135
11754224,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,0.041,0.0410
11754225,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,0.284,0.2840

'string_num_protein_per_protein_stats_df'

       Number Protein Interaction Per Protein
count                            1.934400e+04
mean                             6.076420e+02
std                              5.287327e+02
max                              7.644000e+03
min                              1.000000e+00
sum                              1.175423e+07

'string_removed_cross_pair_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.0,0.0,0.000,0.041,0.041,0.0410
1,ACTL6B,CALM2,0.0,0.0,0.000,0.041,0.041,0.0410
2,AQP2,CALM2,0.0,0.0,0.051,0.050,0.050,0.0500
3,APOH,CALM2,0.0,0.0,0.000,0.041,0.041,0.0410
4,ANKRD54,CALM2,0.0,0.0,0.210,0.210,0.210,0.2100
...,...,...,...,...,...,...,...,...
5877108,ENSG00000258947,ZNF445,NaN,NaN,NaN,NaN,0.138,0.0895
5877109,ENSG00000258947,ZNF516,NaN,NaN,NaN,NaN,0.093,0.0875
5877110,ENSG00000258947,ZNF607,NaN,NaN,NaN,NaN,0.169,0.1595
5877111,ENSG00000258947,ZNRF1,NaN,NaN,NaN,NaN,0.041,0.0410
5877112,ENSG00000258947,ZNRF2,NaN,NaN,NaN,NaN,0.041,0.0410

'string_all_avg_physical_combined_scores_stats_df'

       Avg Physical Combined Score
count                 5.877113e+06
mean                  1.836376e-01
std                   2.219929e-01
max                   9.990000e-01
min                   4.100000e-02
sum                   1.079259e+06

'string_summary_score_stats_for_avg_physical_combined_score_df'

            Protein ID  count      mean       std    max    min        sum
0                GAPDH   7644  0.241637  0.150712  0.994  0.041  1847.0700
1                 AKT1   6507  0.300910  0.222489  0.999  0.041  1958.0225
2                 TP53   6193  0.354423  0.240752  0.999  0.041  2194.9425
3                  INS   6053  0.320572  0.201611  0.998  0.041  1940.4200
4                  MYC   5786  0.294266  0.186558  0.999  0.041  1702.6225
...                ...    ...       ...       ...    ...    ...        ...
19339            PGBD3      1  0.532000       NaN  0.532  0.532     0.5320
19340          CCDC179      1  0.198000       NaN  0.198  0.198     0.1980
19341         FAM90A26      1  0.955000       NaN  0.955  0.955     0.9550
19342         C18orf42      1  0.196000       NaN  0.196  0.196     0.1960
19343  ENSG00000259171      1  0.041000       NaN  0.041  0.041     0.0410

[19344 rows x 7 columns]

'pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
273057     SFTPA1          SFTPA2  0.359348
273058       VCAN            SELL  0.279930
273059       SELP            VCAN  0.279930
273060       NFIB            NFIC  0.279930
273061       NFIX            NFIB  0.279930

[273062 rows x 3 columns]

'pathfx_num_target_per_source_stats_df'

       Number Target Interacton Per Source
count                         23970.000000
mean                             11.391823
std                              51.499400
max                            6753.000000
min                               1.000000
sum                          273062.000000

'pathfx_removed_cross_pair_df'

           source          target    weight
0       rs1042713  spironolactone  0.285181
1       rs1042713      salbutamol  0.659492
2       rs1042713      salmeterol  0.659492
3       rs1042713      tiotropium  0.285181
4       rs1042714     terbutaline  0.233675
...           ...             ...       ...
136526      STAT1           STAT3  0.354509
136527      STAT1           STAT2  0.305411
136528     SFTPA1          SFTPA2  0.359348
136529       SELP            VCAN  0.279930
136530       NFIB            NFIC  0.279930

[136531 rows x 3 columns]

'pathfx_all_weight_stats_df'

              weight
count  136531.000000
mean        0.386598
std         0.131861
max         0.990000
min         0.233675
sum     52782.576648

'pathfx_source_to_target_weight_stats_df'

,source,count,mean,std,max,min,sum
0,UBC,6753,0.528777,0.132470,0.935012,0.279930,3570.832522
1,APP,1984,0.287942,0.040666,0.705007,0.246744,571.276135
2,SUMO2,713,0.429295,0.086484,0.818355,0.246936,306.087256
3,TP53,627,0.417612,0.124118,0.990000,0.246936,261.842982
4,tat,502,0.321185,0.081879,0.770889,0.246744,161.235009
...,...,...,...,...,...,...,...
23965,SAMD1,1,0.323872,NaN,0.323872,0.323872,0.323872
23966,SAM1,1,0.279930,NaN,0.279930,0.279930,0.279930
23967,SAM-2,1,0.279930,NaN,0.279930,0.279930,0.279930
23968,SALL4,1,0.380279,NaN,0.380279,0.380279,0.380279
23969,zuclopenthixol,1,0.285181,NaN,0.285181,0.285181,0.285181

STRING Database
-------------------------------------------
Number of Unique Protein 1s: 19344
Number of Unique Protein 2s: 19344
Number of Unique Protein: 19344


PathFX Interactome
-------------------------------------------
Number of Unique sources: 23970
Number of Unique targets: 23970
Number of Unique sources and targets: 23970


Both STRING and PathFX
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13948
Number of distinct STRING nodes: 5396
Number of distinct PathFX nodes: 10022


Comparison of NODES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13948
Number of distinct STRING nodes: 5396
Number of distinct PathFX nodes: 10022


Comparison of EDGES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Edges from both graph networks: 72278
Number of distinct STRING edges: 5804835
Number of distinct PathFX edges: 64253

Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of edge scores in STRING and PathFX_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of edge scores in STRING and PathFX (ZOOMED)_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of edge scores in STRING and PathFX (ZOOMED 2x)_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of Number of Interactions per Protein in STRING and PathFX_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of Number of Interactions per Protein in STRING and PathFX (ZOOMED)_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of Number of Interactions per Protein in STRING and PathFX (ZOOMED 2x)_histplot.png
Finished Running comparison_network_analysis.ipynb

Finished Running all iPython Notebooks

Saving Output Folders...
Folder output_pathfx_network_analysis renamed to outputs/NOT_FILTERED_output_pathfx_network_analysis successfully
Folder output_string_network_analysis renamed to outputs/NOT_FILTERED_output_string_network_analysis successfully
Folder output_comparison_network_analysis renamed to outputs/NOT_FILTERED_output_comparison_network_analysis successfully

================================================================================================



Nework Analysis for Filter Type: FLTERED_FOR_SAME_EDGES_
================================================================================================


Running clean_pathfx_score_table.ipynb ...

'pre_pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
139082       VCAN            SELP  0.279930
139083       NFIC            NFIB  0.279930
139084       NFIB            NFIX  0.279930
139085       SELK            SELK  0.416595
139086       NFIX            NFIX  0.279930

[139087 rows x 3 columns]

Nonself Records:

'pre_pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
139075     SFTPA2          SFTPA1  0.359348
139080       SELL            VCAN  0.279930
139082       VCAN            SELP  0.279930
139083       NFIC            NFIB  0.279930
139084       NFIB            NFIX  0.279930

[136531 rows x 3 columns]

Outputting Number of Distinct Proteins
------------------------------------------------
Number of Unique sources: 17602
Number of Unique targets: 18089
Number of Unique sources and targets: 23970

'mirror_copy_pre_pathfx_score_df'

                source     target    weight
0        isoproterenol  rs1042713  0.233675
1       Ace Inhibitors  rs1042713  0.285181
2          Angiotensin  rs1042713  0.285181
3                Plain  rs1042713  0.285181
4          risperidone  rs1042713  0.285181
...                ...        ...       ...
139075          SFTPA1     SFTPA2  0.359348
139080            VCAN       SELL  0.279930
139082            SELP       VCAN  0.279930
139083            NFIB       NFIC  0.279930
139084            NFIX       NFIB  0.279930

[136531 rows x 3 columns]

'pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
139075     SFTPA1          SFTPA2  0.359348
139080       VCAN            SELL  0.279930
139082       SELP            VCAN  0.279930
139083       NFIB            NFIC  0.279930
139084       NFIX            NFIB  0.279930

[273062 rows x 3 columns]

Outputting Number of Distinct Proteins
------------------------------------------------
Number of Unique sources: 23970
Number of Unique targets: 23970
Number of Unique sources and targets: 23970

Constructed and saved outputs/output_clean_pathfx_score_table/pathfx_score_table.csv
Constructed and saved inputs/input_pathfx_network_analysis/pathfx_score_table.csv
Constructed and saved inputs/input_filter_string_and_pathfx_score_tables/pathfx_score_table.csv
Finished Running clean_pathfx_score_table.ipynb

Running clean_string_score_table.ipynb ...

'string_pre_score_df'

,Protein 1 ID,Protein 2 ID,experiments,database,textmining,Physical Combined Score
0,9606.ENSP00000000233,9606.ENSP00000272298,0,0,0,41
1,9606.ENSP00000000233,9606.ENSP00000253401,0,0,0,41
2,9606.ENSP00000000233,9606.ENSP00000401445,0,0,0,41
3,9606.ENSP00000000233,9606.ENSP00000418915,0,0,542,542
4,9606.ENSP00000000233,9606.ENSP00000327801,0,0,0,41
...,...,...,...,...,...,...
11759449,9606.ENSP00000485678,9606.ENSP00000310488,0,0,0,41
11759450,9606.ENSP00000485678,9606.ENSP00000342448,0,0,0,41
11759451,9606.ENSP00000485678,9606.ENSP00000350222,0,0,0,41
11759452,9606.ENSP00000485678,9606.ENSP00000367590,0,900,0,900
11759453,9606.ENSP00000485678,9606.ENSP00000349930,0,0,0,41

'string_info_df'

,Protein ID,Protein,protein_size,annotation
0,9606.ENSP00000000233,ARF5,180,ADP-ribosylation factor 5; GTP-binding protein...
1,9606.ENSP00000000412,M6PR,277,Cation-dependent mannose-6-phosphate receptor;...
2,9606.ENSP00000001008,FKBP4,459,Peptidyl-prolyl cis-trans isomerase FKBP4; Imm...
3,9606.ENSP00000001146,CYP26B1,512,Cytochrome P450 26B1; Involved in the metaboli...
4,9606.ENSP00000002125,NDUFAF7,441,"Protein arginine methyltransferase NDUFAF7, mi..."
...,...,...,...,...
19561,9606.ENSP00000485671,ENSG00000280273,120,HCG1991042
19562,9606.ENSP00000485672,ENSG00000279458,86,annotation not available
19563,9606.ENSP00000485673,ENSG00000279988,243,annotation not available
19564,9606.ENSP00000485675,ENSG00000280116,84,annotation not available
19565,9606.ENSP00000485678,OR6Q1,317,Olfactory receptor 6Q1; Odorant receptor; Olfa...

'string_score_df'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
0,ARF5,9606.ENSP00000000233,CALM2,9606.ENSP00000272298,0,0,0,41
1,FKBP4,9606.ENSP00000001008,CALM2,9606.ENSP00000272298,0,0,0,41
2,CYP51A1,9606.ENSP00000003100,CALM2,9606.ENSP00000272298,0,0,0,41
3,PDK4,9606.ENSP00000005178,CALM2,9606.ENSP00000272298,0,0,104,104
4,RALA,9606.ENSP00000005257,CALM2,9606.ENSP00000272298,313,0,0,313
...,...,...,...,...,...,...,...,...
11759449,DUX4L7,9606.ENSP00000451411,ENSG00000274175,9606.ENSP00000479378,0,0,560,560
11759450,DUX4,9606.ENSP00000458065,ENSG00000274175,9606.ENSP00000479378,0,0,556,556
11759451,DUX4L8,9606.ENSP00000485452,ENSG00000274175,9606.ENSP00000479378,0,0,559,559
11759452,DYNLL2,9606.ENSP00000477310,C17orf47,9606.ENSP00000354874,212,0,0,212
11759453,FAM65B,9606.ENSP00000482957,C6orf229,9606.ENSP00000454913,0,0,0,41

'self_interacting_protein'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
2674693,ENSG00000243667,9606.ENSP00000295121,ENSG00000243667,9606.ENSP00000477980,800,0,0,800
7375638,ENSG00000216937,9606.ENSP00000364165,ENSG00000216937,9606.ENSP00000355078,0,0,0,41
7409667,ENSG00000216937,9606.ENSP00000355078,ENSG00000216937,9606.ENSP00000364165,0,0,0,41
8264678,ENSG00000243667,9606.ENSP00000477980,ENSG00000243667,9606.ENSP00000295121,800,0,0,800

'non_self_interacting_protein'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
0,ARF5,9606.ENSP00000000233,CALM2,9606.ENSP00000272298,0,0,0,41
1,FKBP4,9606.ENSP00000001008,CALM2,9606.ENSP00000272298,0,0,0,41
2,CYP51A1,9606.ENSP00000003100,CALM2,9606.ENSP00000272298,0,0,0,41
3,PDK4,9606.ENSP00000005178,CALM2,9606.ENSP00000272298,0,0,104,104
4,RALA,9606.ENSP00000005257,CALM2,9606.ENSP00000272298,313,0,0,313
...,...,...,...,...,...,...,...,...
11759449,DUX4L7,9606.ENSP00000451411,ENSG00000274175,9606.ENSP00000479378,0,0,560,560
11759450,DUX4,9606.ENSP00000458065,ENSG00000274175,9606.ENSP00000479378,0,0,556,556
11759451,DUX4L8,9606.ENSP00000485452,ENSG00000274175,9606.ENSP00000479378,0,0,559,559
11759452,DYNLL2,9606.ENSP00000477310,C17orf47,9606.ENSP00000354874,212,0,0,212
11759453,FAM65B,9606.ENSP00000482957,C6orf229,9606.ENSP00000454913,0,0,0,41

'proteins_interac_unique_ids'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0,0,0,41,41,41
1,FKBP4,CALM2,0,0,0,41,41,41
2,CYP51A1,CALM2,0,0,0,41,41,41
3,PDK4,CALM2,0,0,104,104,104,104
4,RALA,CALM2,313,0,0,313,313,313
...,...,...,...,...,...,...,...,...
11759449,DUX4L7,ENSG00000274175,0,0,560,560,560,560
11759450,DUX4,ENSG00000274175,0,0,556,556,556,556
11759451,DUX4L8,ENSG00000274175,0,0,559,559,559,559
11759452,DYNLL2,C17orf47,212,0,0,212,212,212
11759453,FAM65B,C6orf229,0,0,0,41,41,41

'proteins_interac_nonunique_ids'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
720,ENSG00000258947,9606.ENSP00000320295,CALM2,9606.ENSP00000272298,0,0,94,94
1737,ENSG00000258947,9606.ENSP00000451560,CALM2,9606.ENSP00000272298,0,0,84,84
1816,ENSG00000243667,9606.ENSP00000477980,CALM2,9606.ENSP00000272298,0,0,0,41
2128,ENSG00000258947,9606.ENSP00000320295,ARHGEF9,9606.ENSP00000253401,0,0,0,41
2524,ENSG00000258947,9606.ENSP00000451560,ARHGEF9,9606.ENSP00000253401,0,0,0,41
...,...,...,...,...,...,...,...,...
11724878,PADI6,9606.ENSP00000483125,ENSG00000239810,9606.ENSP00000480027,0,0,257,256
11724879,PRAMEF7,9606.ENSP00000484237,ENSG00000239810,9606.ENSP00000480027,0,0,0,41
11724880,PRAMEF25,9606.ENSP00000485258,ENSG00000239810,9606.ENSP00000480027,0,0,0,41
11724881,DUX4L8,9606.ENSP00000485452,ENSG00000239810,9606.ENSP00000480027,0,0,420,420
11724882,PRAMEF18,9606.ENSP00000485473,ENSG00000239810,9606.ENSP00000480027,0,0,0,41

,Protein 1,Protein 2,Protein 1 ID,Protein 2 ID,experiments,database,textmining,Physical Combined Score
5269,ENSG00000258947,ENSG00000166160,3,3,3,3,3,3
1540,ENSG00000166160,ENSG00000258947,3,3,3,3,3,3
5415,ENSG00000258947,GFRA2,2,2,2,2,2,2
4717,ENSG00000258947,ANKS1B,2,2,2,2,2,2
8027,LETM1,ENSG00000183628,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...
4086,ENSG00000243667,PRKAR1B,1,1,1,1,1,1
4085,ENSG00000243667,PRKAR1A,1,1,1,1,1,1
4084,ENSG00000243667,PRKACG,1,1,1,1,1,1
4083,ENSG00000243667,PRKACB,1,1,1,1,1,1
10829,ZUFSP,ENSG00000197054,1,1,1,1,1,1

1    5608
2    5220
3       2
Name: Physical Combined Score, dtype: int64

'corrected_proteins_interac_nonunique_ids'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,339010,ENSG00000243667,NaN,NaN,NaN,NaN,41,41.0
1,339010,ENSG00000258947,NaN,NaN,NaN,NaN,41,41.0
2,AAMDC,ENSG00000243667,NaN,NaN,NaN,NaN,41,41.0
3,ABCA4,ENSG00000166160,NaN,NaN,NaN,NaN,145,145.0
4,ABCB1,ENSG00000258947,NaN,NaN,NaN,NaN,329,307.5
...,...,...,...,...,...,...,...,...
10825,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,268,267.0
10826,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,214,214.0
10827,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,215,213.5
10828,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,41,41.0
10829,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,284,284.0

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.0,0.0,0.0,41.0,41,41.0
1,FKBP4,CALM2,0.0,0.0,0.0,41.0,41,41.0
2,CYP51A1,CALM2,0.0,0.0,0.0,41.0,41,41.0
3,PDK4,CALM2,0.0,0.0,104.0,104.0,104,104.0
4,RALA,CALM2,313.0,0.0,0.0,313.0,313,313.0
...,...,...,...,...,...,...,...,...
10825,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,268,267.0
10826,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,214,214.0
10827,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,215,213.5
10828,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,41,41.0
10829,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,284,284.0

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
10825,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,0.268,0.2670
10826,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,0.214,0.2140
10827,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,0.215,0.2135
10828,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,0.041,0.0410
10829,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,0.284,0.2840

Printing out counting statistics for entire filtering and correction process
-----------------------------------------------------------------------------
Number of Original Records: 11759454
Number of Self-Interacting Protein Records: 4
Number of Non-self Interacting Protein Records: 11759450

Number of Records containing Non-self Interacting Unique Protein ID: 11743396
Number of Records containing Non-self Interacting Non-unique Protein ID: 16054
Number of Records containing Non-self Interacting Non-unique Protein ID (Corrected): 10830

Number of Records in Final Table: 11754226
Number of Records reduced: 5228

Constructed and saved outputs/output_clean_string_score_table/string_score_table.csv
Constructed and saved inputs/input_string_network_analysis/string_score_table.csv
Constructed and saved inputs/input_filter_string_and_pathfx_score_tables/string_score_table.csv
Finished Running clean_string_score_table.ipynb

Running filter_string_and_pathfx_score_tables.ipynb ...

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
11754221,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,0.268,0.2670
11754222,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,0.214,0.2140
11754223,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,0.215,0.2135
11754224,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,0.041,0.0410
11754225,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,0.284,0.2840

'pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
273057     SFTPA1          SFTPA2  0.359348
273058       VCAN            SELL  0.279930
273059       SELP            VCAN  0.279930
273060       NFIB            NFIC  0.279930
273061       NFIX            NFIB  0.279930

[273062 rows x 3 columns]

STRING Database
-------------------------------------------
Number of Unique Protein 1s: 19344
Number of Unique Protein 2s: 19344
Number of Unique Protein: 19344

PathFX Interactome
-------------------------------------------
Number of Unique sources: 23970
Number of Unique targets: 23970
Number of Unique sources and targets: 23970

Both STRING and PathFX
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13948
Number of distinct STRING nodes: 5396
Number of distinct PathFX nodes: 10022


Comparison of NODES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13948
Number of distinct STRING nodes: 5396
Number of distinct PathFX nodes: 10022

Comparison of EDGES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Edges from both graph networks: 72278
Number of distinct STRING edges: 5804835
Number of distinct PathFX edges: 64253

'filtered_string_score_df'

,source,target,textmining,Physical Combined Score,database,Avg Physical Combined Score,experiments,Max Physical Combined Score
0,ARF5,AP1B1,0.145,0.418,0.0,0.418,0.348,0.418
1,ARF5,RAB11FIP3,0.641,0.767,0.0,0.767,0.379,0.767
2,ARF5,IKBKG,0.197,0.197,0.0,0.197,0.000,0.197
3,ARF5,GGA1,0.293,0.493,0.0,0.493,0.313,0.493
4,ARF5,ARFIP2,0.521,0.656,0.0,0.656,0.313,0.656
...,...,...,...,...,...,...,...,...
72273,ADAMTSL4,ADAMTSL5,0.444,0.946,0.9,0.946,0.110,0.946
72274,EBI3,IL27,0.709,0.980,0.9,0.980,0.379,0.980
72275,MRPL51,MRPL52,0.355,0.997,0.9,0.997,0.960,0.997
72276,SMCP,KRTAP5-6,0.000,0.237,0.0,0.237,0.237,0.237
72277,LCE3E,KRTAP10-7,0.344,0.380,0.0,0.380,0.095,0.380

'filtered_pathfx_score_df'

       source   target    weight
0       ADRB2    CALM3  0.471716
1       ADRB2   PPP3CA  0.323872
2       ADRB2    ADCY3  0.490794
3       ADRB2     RGS2  0.375065
4       ADRB2    NEDD4  0.380279
...       ...      ...       ...
72273   CBLN3    CBLN1  0.422287
72274    HCN2     HCN4  0.346946
72275    ZIC2   RNF180  0.495315
72276  BCKDHB   BCKDHA  0.279930
72277   RPE65  SLC27A1  0.279930

[72278 rows x 3 columns]

'filtered_string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,AP1B1,0.348,0.0,0.145,0.418,0.418,0.418
1,ARF5,RAB11FIP3,0.379,0.0,0.641,0.767,0.767,0.767
2,ARF5,IKBKG,0.000,0.0,0.197,0.197,0.197,0.197
3,ARF5,GGA1,0.313,0.0,0.293,0.493,0.493,0.493
4,ARF5,ARFIP2,0.313,0.0,0.521,0.656,0.656,0.656
...,...,...,...,...,...,...,...,...
72273,ADAMTSL5,ADAMTSL4,0.110,0.9,0.444,0.946,0.946,0.946
72274,IL27,EBI3,0.379,0.9,0.709,0.980,0.980,0.980
72275,MRPL52,MRPL51,0.960,0.9,0.355,0.997,0.997,0.997
72276,KRTAP5-6,SMCP,0.237,0.0,0.000,0.237,0.237,0.237
72277,KRTAP10-7,LCE3E,0.095,0.0,0.344,0.380,0.380,0.380

'filtered_pathfx_score_df'

        source  target    weight
0        ADRB2   CALM3  0.471716
1        ADRB2  PPP3CA  0.323872
2        ADRB2   ADCY3  0.490794
3        ADRB2    RGS2  0.375065
4        ADRB2   NEDD4  0.380279
...        ...     ...       ...
72273    CBLN1   CBLN3  0.422287
72274     HCN4    HCN2  0.346946
72275   RNF180    ZIC2  0.495315
72276   BCKDHA  BCKDHB  0.279930
72277  SLC27A1   RPE65  0.279930

[144556 rows x 3 columns]

Filtered STRING Database
-------------------------------------------
Number of Unique Protein 1s: 11500
Number of Unique Protein 2s: 11500
Number of Unique Protein: 11500

Filtered PathFX Interactome
-------------------------------------------
Number of Unique sources: 11500
Number of Unique targets: 11500
Number of Unique sources and targets: 11500

Both STRING and PathFX
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 11500
Number of distinct STRING nodes: 0
Number of distinct PathFX nodes: 0

Constructed and saved outputs/output_filter_string_and_pathfx_score_tables/pathfx_score_table.csv.csv
Constructed and saved outputs/output_filter_string_and_pathfx_score_tables/string_score_table.csv.csv
Constructed and saved inputs/input_pathfx_network_analysis/pathfx_score_table.csv
Constructed and saved inputs/input_string_network_analysis/string_score_table.csv
Finished Running filter_string_and_pathfx_score_tables.ipynb

Running pathfx_network_analysis.ipynb ...

'pathfx_score_df'

         source  target    weight
0         ADRB2   CALM3  0.471716
1         ADRB2  PPP3CA  0.323872
2         ADRB2   ADCY3  0.490794
3         ADRB2    RGS2  0.375065
4         ADRB2   NEDD4  0.380279
...         ...     ...       ...
144551    CBLN1   CBLN3  0.422287
144552     HCN4    HCN2  0.346946
144553   RNF180    ZIC2  0.495315
144554   BCKDHA  BCKDHB  0.279930
144555  SLC27A1   RPE65  0.279930

[144556 rows x 3 columns]

Outputting Number of Distinct Proteins
------------------------------------------------
Number of Unique sources: 11500
Number of Unique targets: 11500
Number of Unique sources and targets: 11500

'pathfx_source_to_target_weight_stats_df'

       source  count      mean       std       max       min          sum
10647     UBC   2012  0.582679  0.143764  0.935012  0.279930  1172.349315
10313    TP53    501  0.431408  0.123262  0.872160  0.279930   216.135288
520       APP    458  0.309989  0.076054  0.705007  0.246744   141.975066
9712    SUMO2    365  0.452888  0.099200  0.818355  0.279930   165.304231
2846     EGFR    356  0.402973  0.107479  0.935012  0.246936   143.458217
...       ...    ...       ...       ...       ...       ...          ...
6261     NAT9      1  0.539793       NaN  0.539793  0.539793     0.539793
6262    NATD1      1  0.279930       NaN  0.279930  0.279930     0.279930
6265     NAV3      1  0.279930       NaN  0.279930  0.279930     0.279930
6268   NBEAL2      1  0.471716       NaN  0.471716  0.471716     0.471716
11499    ZZZ3      1  0.471716       NaN  0.471716  0.471716     0.471716

[11500 rows x 7 columns]

'pathfx_num_target_per_source_stats_df'

       Number Target Interacton Per Source
count                         11500.000000
mean                             12.570087
std                              29.251411
max                            2012.000000
min                               1.000000
sum                          144556.000000

'pathfx_num_interac_distribution_df'

     Number of Protein Interactions  count
0                                 1   2360
1                                 2   1340
2                                 3    999
3                                 4    780
4                                 5    603
..                              ...    ...
147                             301      1
148                             333      1
149                             356      1
150                             365      1
178                            2012      1

[179 rows x 2 columns]

'pathfx_edge_score_distribution_df'

     Edge Score  count
0      0.323872  17239
1      0.279930  15764
2      0.380279   6872
3      0.346946   6167
4      0.471716   3791
..          ...    ...
598    0.856611      1
597    0.821204      1
596    0.578061      1
595    0.721781      1
936    0.611452      1

[937 rows x 2 columns]

'pathfx_removed_cross_pair_df'

        source  target    weight
0        ADRB2   CALM3  0.471716
1        ADRB2  PPP3CA  0.323872
3        ADRB2    RGS2  0.375065
4        ADRB2   NEDD4  0.380279
5        ADRB2  ADRBK1  0.400626
...        ...     ...       ...
144545   S1PR5   SGPP1  0.279930
144547   GRHL1   GRHL3  0.346946
144551   CBLN1   CBLN3  0.422287
144553  RNF180    ZIC2  0.495315
144554  BCKDHA  BCKDHB  0.279930

[72278 rows x 3 columns]

'pathfx_all_weight_stats_df'

             weight
count  72278.000000
mean       0.381317
std        0.107240
max        0.935012
min        0.244958
sum    27560.819070

Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_score_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_all_weight_stats_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_num_target_per_source_stats_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_source_to_target_weight_stats.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_num_interac_distribution_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_removed_cross_pair_pathfx_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in PathFX_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in PathFX (Zoomed)_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in PathFX (Zoomed 2x)_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of edge scores in PathFX_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of edge scores in PathFX (Zoomed)_histplot.png

PathFX Interactome
-------------------------------------------
Number of Unique sources: 11500
Number of Unique targets: 11500
Number of Unique sources and targets: 11500


Constructing Network graph for Protein-Protein Combined score interaction (Avg Physical Combined Score)


Saving Constructed Network graph for PathFX

PathFX NetworkX Interactome Graph
-------------------------------------
Number of Nodes: 11500
Number of Edges: 72278

Average node degree: 12.57008695652174
Standard Deviation node degree: 29.251411195939102
Max node degree: 2012.0
Min node degree: 1.0

Average edge weight: 0.38131684703356755
Standard Deviation node degree: 0.10723958680395046
Max edge weight: 0.935012238275
Min edge weight: 0.244957679172

nx Graph is connected - False
Number of Connected Components: 76

Top 25 Proteins with Most Neighbors - Weighted Edge Scores
-------------------------------------------------------------------------------------
         source  count      mean       std       max       min          sum
10647       UBC   2012  0.582679  0.143764  0.935012  0.279930  1172.349315
10313      TP53    501  0.431408  0.123262  0.872160  0.279930   216.135288
520         APP    458  0.309989  0.076054  0.705007  0.246744   141.975066
9712      SUMO2    365  0.452888  0.099200  0.818355  0.279930   165.304231
2846       EGFR    356  0.402973  0.107479  0.935012  0.246936   143.458217
2992      EP300    333  0.399884  0.114884  0.831286  0.246936   133.161443
4097      HDAC1    301  0.433587  0.122513  0.917601  0.246936   130.509583
3075       ESR1    300  0.406284  0.115870  0.837262  0.246936   121.885073
10663     UBE2I    297  0.357218  0.096251  0.708132  0.246936   106.093813
2194    CSNK2A1    279  0.337752  0.078040  0.691677  0.246936    94.232680
1016      BRCA1    258  0.414702  0.131793  0.832451  0.246936   106.992991
5692       MDM2    257  0.452721  0.131596  0.872160  0.279930   116.349376
9520        SRC    252  0.393069  0.109933  0.745886  0.246936    99.053272
9711      SUMO1    251  0.411659  0.095210  0.785320  0.279930   103.326313
532          AR    248  0.413421  0.117283  0.854536  0.246936   102.528464
2125     CREBBP    243  0.388875  0.101089  0.816659  0.246936    94.496627
4381   HSP90AA1    240  0.412878  0.117170  0.816383  0.279930    99.090617
3918       GRB2    235  0.382360  0.093966  0.743959  0.279930    89.854574
10652    UBE2D1    211  0.376090  0.135061  0.857027  0.246936    79.355019
4528      IKBKG    209  0.362265  0.124896  0.931644  0.279930    75.713391
2237     CTNNB1    204  0.435263  0.111560  0.877555  0.279930    88.793744
4603       ILF3    203  0.337238  0.046244  0.640102  0.279930    68.459226
302        AKT1    199  0.413068  0.124728  0.818593  0.279930    82.200599
11147     YWHAQ    193  0.364536  0.104937  0.750400  0.279930    70.355370
9243      SMAD3    190  0.379903  0.100153  0.776997  0.246936    72.181588

Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_G.gpickle
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_score_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_num_target_per_source_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_removed_cross_pair_pathfx_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_all_weight_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_source_to_target_weight_stats_table.csv
Finished Running pathfx_network_analysis.ipynb

Running string_network_analysis.ipynb ...

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,AP1B1,0.348,0.0,0.145,0.418,0.418,0.418
1,ARF5,RAB11FIP3,0.379,0.0,0.641,0.767,0.767,0.767
2,ARF5,IKBKG,0.000,0.0,0.197,0.197,0.197,0.197
3,ARF5,GGA1,0.313,0.0,0.293,0.493,0.493,0.493
4,ARF5,ARFIP2,0.313,0.0,0.521,0.656,0.656,0.656
...,...,...,...,...,...,...,...,...
144551,ADAMTSL5,ADAMTSL4,0.110,0.9,0.444,0.946,0.946,0.946
144552,IL27,EBI3,0.379,0.9,0.709,0.980,0.980,0.980
144553,MRPL52,MRPL51,0.960,0.9,0.355,0.997,0.997,0.997
144554,KRTAP5-6,SMCP,0.237,0.0,0.000,0.237,0.237,0.237
144555,KRTAP10-7,LCE3E,0.095,0.0,0.344,0.380,0.380,0.380

'string_num_protein_per_protein_stats_df'

       Number Protein Interaction Per Protein
count                            11500.000000
mean                                12.570087
std                                 29.251411
max                               2012.000000
min                                  1.000000
sum                             144556.000000

'string_removed_cross_pair_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
1,ARF5,RAB11FIP3,0.379,0.0,0.641,0.767,0.767,0.767
2,ARF5,IKBKG,0.000,0.0,0.197,0.197,0.197,0.197
3,ARF5,GGA1,0.313,0.0,0.293,0.493,0.493,0.493
4,ARF5,ARFIP2,0.313,0.0,0.521,0.656,0.656,0.656
5,ARF5,ASAP2,0.313,0.0,0.541,0.671,0.671,0.671
...,...,...,...,...,...,...,...,...
144544,KRTAP10-7,KRTAP10-9,0.166,0.0,0.000,0.165,0.165,0.165
144547,C19orf66,KRTAP10-5,0.166,0.0,0.000,0.165,0.165,0.165
144550,ADAMTSL4,SPINK2,0.123,0.0,0.000,0.123,0.123,0.123
144554,KRTAP5-6,SMCP,0.237,0.0,0.000,0.237,0.237,0.237
144555,KRTAP10-7,LCE3E,0.095,0.0,0.344,0.380,0.380,0.380

'string_all_max_physical_combined_scores_stats_df'

       Max Physical Combined Score
count                 72278.000000
mean                      0.562200
std                       0.313293
max                       0.999000
min                       0.041000
sum                   40634.679000

'string_all_avg_physical_combined_scores_stats_df'

       Avg Physical Combined Score
count                 72278.000000
mean                      0.562200
std                       0.313293
max                       0.999000
min                       0.041000
sum                   40634.679000

Constructed and saved outputs/output_string_network_analysis/csv_files/string_score_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_num_protein_per_protein_stats_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_removed_cross_pair_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_all_max_physical_combined_scores_stats_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_all_avg_physical_combined_scores_stats_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_experiments_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_database_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_textmining_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_Physical Combined Score_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_Max Physical Combined Score_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_Avg Physical Combined Score_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of experiments in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of database in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of textmining in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Physical Combined Score in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Max Physical Combined Score in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Avg Physical Combined Score in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in STRING (ZOOMED)_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in STRING (Zoomed 2x)_histplot.png

'string_summary_score_stats_for_avg_physical_combined_score_df'

      Protein ID  count      mean       std    max    min      sum
0            UBC   2012  0.457029  0.399132  0.999  0.041  919.543
1           TP53    501  0.697928  0.247446  0.999  0.122  349.662
2            APP    458  0.365557  0.273463  0.998  0.041  167.425
3          SUMO2    365  0.325548  0.314524  0.998  0.041  118.825
4           EGFR    356  0.605264  0.279473  0.999  0.078  215.474
...          ...    ...       ...       ...    ...    ...      ...
11495       NAT9      1  0.686000       NaN  0.686  0.686    0.686
11496      NATD1      1  0.338000       NaN  0.338  0.338    0.338
11497       NAV3      1  0.130000       NaN  0.130  0.130    0.130
11498     NBEAL2      1  0.117000       NaN  0.117  0.117    0.117
11499       ZZZ3      1  0.167000       NaN  0.167  0.167    0.167

[11500 rows x 7 columns]

STRING Database
-------------------------------------------
Number of Unique Protein 1s: 11500
Number of Unique Protein 2s: 11500
Number of Unique Protein: 11500


Constructing Network graph for Protein-Protein Combined score interaction (Avg Physical Combined Score)

Saving Constructed Network graph for Protein-Protein Combined score interaction (Avg Physical Combined Score)

STRING Database NetworkX Graph
-------------------------------------
Number of Nodes: 11500
Number of Edges: 72278
Average node degree: 12.57008695652174
Standard Deviation node degree: 29.251411195939102
Max node degree: 2012.0
Min node degree: 1.0
Average edge weight: 0.5621998256730999
Standard Deviation node degree: 0.31329281849887314
Max edge weight: 0.999
Min edge weight: 0.041
nx Graph is connected - False
Number of Connected Components: 76

Top 25 Proteins with Most Neighbors - Avg Physical Combined Scored
-------------------------------------------------------------------------------------
   Protein ID  count      mean       std    max    min      sum
0         UBC   2012  0.457029  0.399132  0.999  0.041  919.543
1        TP53    501  0.697928  0.247446  0.999  0.122  349.662
2         APP    458  0.365557  0.273463  0.998  0.041  167.425
3       SUMO2    365  0.325548  0.314524  0.998  0.041  118.825
4        EGFR    356  0.605264  0.279473  0.999  0.078  215.474
5       EP300    333  0.656477  0.269741  0.997  0.049  218.607
6       HDAC1    301  0.631648  0.262776  0.999  0.052  190.126
7        ESR1    300  0.645097  0.242705  0.997  0.116  193.529
8       UBE2I    297  0.510606  0.300420  0.999  0.041  151.650
9     CSNK2A1    279  0.381717  0.236300  0.999  0.103  106.499
10      BRCA1    258  0.623616  0.275786  0.999  0.059  160.893
11       MDM2    257  0.568300  0.234056  0.999  0.098  146.053
12        SRC    252  0.695813  0.249285  0.999  0.041  175.345
13      SUMO1    251  0.506869  0.348358  0.999  0.041  127.224
14         AR    248  0.562972  0.248269  0.997  0.101  139.617
15     CREBBP    243  0.651078  0.258186  0.998  0.164  158.212
16   HSP90AA1    240  0.562121  0.267547  0.996  0.100  134.909
17       GRB2    235  0.582391  0.296149  0.999  0.046  136.862
18     UBE2D1    211  0.635986  0.308658  0.995  0.041  134.193
19      IKBKG    209  0.444967  0.328615  0.999  0.041   92.998
20     CTNNB1    204  0.729221  0.238856  0.999  0.063  148.761
21       ILF3    203  0.307468  0.155080  0.966  0.110   62.416
22       AKT1    199  0.748241  0.243259  0.999  0.114  148.900
23      YWHAQ    193  0.309497  0.247665  0.977  0.043   59.733
24      SMAD3    190  0.627468  0.308466  0.999  0.099  119.219

Constructed and saved inputs/input_comparison_network_analysis/string/string_G.gpickle
Constructed and saved inputs/input_comparison_network_analysis/string/string_score_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_num_protein_per_protein_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_removed_cross_pair_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_all_avg_physical_combined_scores_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_summary_score_stats_for_Avg.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_summary_score_stats_for_Avg Physical Combined Score_per_protein.csv
Finished Running string_network_analysis.ipynb

Running comparison_network_analysis.ipynb ...

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,AP1B1,0.348,0.0,0.145,0.418,0.418,0.418
1,ARF5,RAB11FIP3,0.379,0.0,0.641,0.767,0.767,0.767
2,ARF5,IKBKG,0.000,0.0,0.197,0.197,0.197,0.197
3,ARF5,GGA1,0.313,0.0,0.293,0.493,0.493,0.493
4,ARF5,ARFIP2,0.313,0.0,0.521,0.656,0.656,0.656
...,...,...,...,...,...,...,...,...
144551,ADAMTSL5,ADAMTSL4,0.110,0.9,0.444,0.946,0.946,0.946
144552,IL27,EBI3,0.379,0.9,0.709,0.980,0.980,0.980
144553,MRPL52,MRPL51,0.960,0.9,0.355,0.997,0.997,0.997
144554,KRTAP5-6,SMCP,0.237,0.0,0.000,0.237,0.237,0.237
144555,KRTAP10-7,LCE3E,0.095,0.0,0.344,0.380,0.380,0.380

'string_num_protein_per_protein_stats_df'

       Number Protein Interaction Per Protein
count                            11500.000000
mean                                12.570087
std                                 29.251411
max                               2012.000000
min                                  1.000000
sum                             144556.000000

'string_removed_cross_pair_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,RAB11FIP3,0.379,0.0,0.641,0.767,0.767,0.767
1,ARF5,IKBKG,0.000,0.0,0.197,0.197,0.197,0.197
2,ARF5,GGA1,0.313,0.0,0.293,0.493,0.493,0.493
3,ARF5,ARFIP2,0.313,0.0,0.521,0.656,0.656,0.656
4,ARF5,ASAP2,0.313,0.0,0.541,0.671,0.671,0.671
...,...,...,...,...,...,...,...,...
72273,KRTAP10-7,KRTAP10-9,0.166,0.0,0.000,0.165,0.165,0.165
72274,C19orf66,KRTAP10-5,0.166,0.0,0.000,0.165,0.165,0.165
72275,ADAMTSL4,SPINK2,0.123,0.0,0.000,0.123,0.123,0.123
72276,KRTAP5-6,SMCP,0.237,0.0,0.000,0.237,0.237,0.237
72277,KRTAP10-7,LCE3E,0.095,0.0,0.344,0.380,0.380,0.380

'string_all_avg_physical_combined_scores_stats_df'

       Avg Physical Combined Score
count                 72278.000000
mean                      0.562200
std                       0.313293
max                       0.999000
min                       0.041000
sum                   40634.679000

'string_summary_score_stats_for_avg_physical_combined_score_df'

      Protein ID  count      mean       std    max    min      sum
0            UBC   2012  0.457029  0.399132  0.999  0.041  919.543
1           TP53    501  0.697928  0.247446  0.999  0.122  349.662
2            APP    458  0.365557  0.273463  0.998  0.041  167.425
3          SUMO2    365  0.325548  0.314524  0.998  0.041  118.825
4           EGFR    356  0.605264  0.279473  0.999  0.078  215.474
...          ...    ...       ...       ...    ...    ...      ...
11495       NAT9      1  0.686000       NaN  0.686  0.686    0.686
11496      NATD1      1  0.338000       NaN  0.338  0.338    0.338
11497       NAV3      1  0.130000       NaN  0.130  0.130    0.130
11498     NBEAL2      1  0.117000       NaN  0.117  0.117    0.117
11499       ZZZ3      1  0.167000       NaN  0.167  0.167    0.167

[11500 rows x 7 columns]

'pathfx_score_df'

         source  target    weight
0         ADRB2   CALM3  0.471716
1         ADRB2  PPP3CA  0.323872
2         ADRB2   ADCY3  0.490794
3         ADRB2    RGS2  0.375065
4         ADRB2   NEDD4  0.380279
...         ...     ...       ...
144551    CBLN1   CBLN3  0.422287
144552     HCN4    HCN2  0.346946
144553   RNF180    ZIC2  0.495315
144554   BCKDHA  BCKDHB  0.279930
144555  SLC27A1   RPE65  0.279930

[144556 rows x 3 columns]

'pathfx_num_target_per_source_stats_df'

       Number Target Interacton Per Source
count                         11500.000000
mean                             12.570087
std                              29.251411
max                            2012.000000
min                               1.000000
sum                          144556.000000

'pathfx_removed_cross_pair_df'

       source  target    weight
0       ADRB2   CALM3  0.471716
1       ADRB2  PPP3CA  0.323872
2       ADRB2    RGS2  0.375065
3       ADRB2   NEDD4  0.380279
4       ADRB2  ADRBK1  0.400626
...       ...     ...       ...
72273   S1PR5   SGPP1  0.279930
72274   GRHL1   GRHL3  0.346946
72275   CBLN1   CBLN3  0.422287
72276  RNF180    ZIC2  0.495315
72277  BCKDHA  BCKDHB  0.279930

[72278 rows x 3 columns]

'pathfx_all_weight_stats_df'

             weight
count  72278.000000
mean       0.381317
std        0.107240
max        0.935012
min        0.244958
sum    27560.819070

'pathfx_source_to_target_weight_stats_df'

       source  count      mean       std       max       min          sum
0         UBC   2012  0.582679  0.143764  0.935012  0.279930  1172.349315
1        TP53    501  0.431408  0.123262  0.872160  0.279930   216.135288
2         APP    458  0.309989  0.076054  0.705007  0.246744   141.975066
3       SUMO2    365  0.452888  0.099200  0.818355  0.279930   165.304231
4        EGFR    356  0.402973  0.107479  0.935012  0.246936   143.458217
...       ...    ...       ...       ...       ...       ...          ...
11495    NAT9      1  0.539793       NaN  0.539793  0.539793     0.539793
11496   NATD1      1  0.279930       NaN  0.279930  0.279930     0.279930
11497    NAV3      1  0.279930       NaN  0.279930  0.279930     0.279930
11498  NBEAL2      1  0.471716       NaN  0.471716  0.471716     0.471716
11499    ZZZ3      1  0.471716       NaN  0.471716  0.471716     0.471716

[11500 rows x 7 columns]

STRING Database
-------------------------------------------
Number of Unique Protein 1s: 11500
Number of Unique Protein 2s: 11500
Number of Unique Protein: 11500


PathFX Interactome
-------------------------------------------
Number of Unique sources: 11500
Number of Unique targets: 11500
Number of Unique sources and targets: 11500


Both STRING and PathFX
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 11500
Number of distinct STRING nodes: 0
Number of distinct PathFX nodes: 0


Comparison of NODES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 11500
Number of distinct STRING nodes: 0
Number of distinct PathFX nodes: 0


Comparison of EDGES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Edges from both graph networks: 72278
Number of distinct STRING edges: 0
Number of distinct PathFX edges: 0

Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of edge scores in STRING and PathFX_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of edge scores in STRING and PathFX (ZOOMED)_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of Number of Interactions per Protein in STRING and PathFX_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of Number of Interactions per Protein in STRING and PathFX (ZOOMED)_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of Number of Interactions per Protein in STRING and PathFX (ZOOMED 2x)_histplot.png
Finished Running comparison_network_analysis.ipynb

Finished Running all iPython Notebooks

Saving Output Folders...
Folder output_pathfx_network_analysis renamed to outputs/FLTERED_FOR_SAME_EDGES_output_pathfx_network_analysis successfully
Folder output_string_network_analysis renamed to outputs/FLTERED_FOR_SAME_EDGES_output_string_network_analysis successfully
Folder output_comparison_network_analysis renamed to outputs/FLTERED_FOR_SAME_EDGES_output_comparison_network_analysis successfully

================================================================================================



Nework Analysis for Filter Type: FLTERED_FOR_SAME_NODES_
================================================================================================


Running clean_pathfx_score_table.ipynb ...

'pre_pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
139082       VCAN            SELP  0.279930
139083       NFIC            NFIB  0.279930
139084       NFIB            NFIX  0.279930
139085       SELK            SELK  0.416595
139086       NFIX            NFIX  0.279930

[139087 rows x 3 columns]

Nonself Records:

'pre_pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
139075     SFTPA2          SFTPA1  0.359348
139080       SELL            VCAN  0.279930
139082       VCAN            SELP  0.279930
139083       NFIC            NFIB  0.279930
139084       NFIB            NFIX  0.279930

[136531 rows x 3 columns]

Outputting Number of Distinct Proteins
------------------------------------------------
Number of Unique sources: 17602
Number of Unique targets: 18089
Number of Unique sources and targets: 23970

'mirror_copy_pre_pathfx_score_df'

                source     target    weight
0        isoproterenol  rs1042713  0.233675
1       Ace Inhibitors  rs1042713  0.285181
2          Angiotensin  rs1042713  0.285181
3                Plain  rs1042713  0.285181
4          risperidone  rs1042713  0.285181
...                ...        ...       ...
139075          SFTPA1     SFTPA2  0.359348
139080            VCAN       SELL  0.279930
139082            SELP       VCAN  0.279930
139083            NFIB       NFIC  0.279930
139084            NFIX       NFIB  0.279930

[136531 rows x 3 columns]

'pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
139075     SFTPA1          SFTPA2  0.359348
139080       VCAN            SELL  0.279930
139082       SELP            VCAN  0.279930
139083       NFIB            NFIC  0.279930
139084       NFIX            NFIB  0.279930

[273062 rows x 3 columns]

Outputting Number of Distinct Proteins
------------------------------------------------
Number of Unique sources: 23970
Number of Unique targets: 23970
Number of Unique sources and targets: 23970

Constructed and saved outputs/output_clean_pathfx_score_table/pathfx_score_table.csv
Constructed and saved inputs/input_pathfx_network_analysis/pathfx_score_table.csv
Constructed and saved inputs/input_filter_string_and_pathfx_score_tables/pathfx_score_table.csv
Finished Running clean_pathfx_score_table.ipynb

Running clean_string_score_table.ipynb ...

'string_pre_score_df'

,Protein 1 ID,Protein 2 ID,experiments,database,textmining,Physical Combined Score
0,9606.ENSP00000000233,9606.ENSP00000272298,0,0,0,41
1,9606.ENSP00000000233,9606.ENSP00000253401,0,0,0,41
2,9606.ENSP00000000233,9606.ENSP00000401445,0,0,0,41
3,9606.ENSP00000000233,9606.ENSP00000418915,0,0,542,542
4,9606.ENSP00000000233,9606.ENSP00000327801,0,0,0,41
...,...,...,...,...,...,...
11759449,9606.ENSP00000485678,9606.ENSP00000310488,0,0,0,41
11759450,9606.ENSP00000485678,9606.ENSP00000342448,0,0,0,41
11759451,9606.ENSP00000485678,9606.ENSP00000350222,0,0,0,41
11759452,9606.ENSP00000485678,9606.ENSP00000367590,0,900,0,900
11759453,9606.ENSP00000485678,9606.ENSP00000349930,0,0,0,41

'string_info_df'

,Protein ID,Protein,protein_size,annotation
0,9606.ENSP00000000233,ARF5,180,ADP-ribosylation factor 5; GTP-binding protein...
1,9606.ENSP00000000412,M6PR,277,Cation-dependent mannose-6-phosphate receptor;...
2,9606.ENSP00000001008,FKBP4,459,Peptidyl-prolyl cis-trans isomerase FKBP4; Imm...
3,9606.ENSP00000001146,CYP26B1,512,Cytochrome P450 26B1; Involved in the metaboli...
4,9606.ENSP00000002125,NDUFAF7,441,"Protein arginine methyltransferase NDUFAF7, mi..."
...,...,...,...,...
19561,9606.ENSP00000485671,ENSG00000280273,120,HCG1991042
19562,9606.ENSP00000485672,ENSG00000279458,86,annotation not available
19563,9606.ENSP00000485673,ENSG00000279988,243,annotation not available
19564,9606.ENSP00000485675,ENSG00000280116,84,annotation not available
19565,9606.ENSP00000485678,OR6Q1,317,Olfactory receptor 6Q1; Odorant receptor; Olfa...

'string_score_df'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
0,ARF5,9606.ENSP00000000233,CALM2,9606.ENSP00000272298,0,0,0,41
1,FKBP4,9606.ENSP00000001008,CALM2,9606.ENSP00000272298,0,0,0,41
2,CYP51A1,9606.ENSP00000003100,CALM2,9606.ENSP00000272298,0,0,0,41
3,PDK4,9606.ENSP00000005178,CALM2,9606.ENSP00000272298,0,0,104,104
4,RALA,9606.ENSP00000005257,CALM2,9606.ENSP00000272298,313,0,0,313
...,...,...,...,...,...,...,...,...
11759449,DUX4L7,9606.ENSP00000451411,ENSG00000274175,9606.ENSP00000479378,0,0,560,560
11759450,DUX4,9606.ENSP00000458065,ENSG00000274175,9606.ENSP00000479378,0,0,556,556
11759451,DUX4L8,9606.ENSP00000485452,ENSG00000274175,9606.ENSP00000479378,0,0,559,559
11759452,DYNLL2,9606.ENSP00000477310,C17orf47,9606.ENSP00000354874,212,0,0,212
11759453,FAM65B,9606.ENSP00000482957,C6orf229,9606.ENSP00000454913,0,0,0,41

'self_interacting_protein'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
2674693,ENSG00000243667,9606.ENSP00000295121,ENSG00000243667,9606.ENSP00000477980,800,0,0,800
7375638,ENSG00000216937,9606.ENSP00000364165,ENSG00000216937,9606.ENSP00000355078,0,0,0,41
7409667,ENSG00000216937,9606.ENSP00000355078,ENSG00000216937,9606.ENSP00000364165,0,0,0,41
8264678,ENSG00000243667,9606.ENSP00000477980,ENSG00000243667,9606.ENSP00000295121,800,0,0,800

'non_self_interacting_protein'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
0,ARF5,9606.ENSP00000000233,CALM2,9606.ENSP00000272298,0,0,0,41
1,FKBP4,9606.ENSP00000001008,CALM2,9606.ENSP00000272298,0,0,0,41
2,CYP51A1,9606.ENSP00000003100,CALM2,9606.ENSP00000272298,0,0,0,41
3,PDK4,9606.ENSP00000005178,CALM2,9606.ENSP00000272298,0,0,104,104
4,RALA,9606.ENSP00000005257,CALM2,9606.ENSP00000272298,313,0,0,313
...,...,...,...,...,...,...,...,...
11759449,DUX4L7,9606.ENSP00000451411,ENSG00000274175,9606.ENSP00000479378,0,0,560,560
11759450,DUX4,9606.ENSP00000458065,ENSG00000274175,9606.ENSP00000479378,0,0,556,556
11759451,DUX4L8,9606.ENSP00000485452,ENSG00000274175,9606.ENSP00000479378,0,0,559,559
11759452,DYNLL2,9606.ENSP00000477310,C17orf47,9606.ENSP00000354874,212,0,0,212
11759453,FAM65B,9606.ENSP00000482957,C6orf229,9606.ENSP00000454913,0,0,0,41

'proteins_interac_unique_ids'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0,0,0,41,41,41
1,FKBP4,CALM2,0,0,0,41,41,41
2,CYP51A1,CALM2,0,0,0,41,41,41
3,PDK4,CALM2,0,0,104,104,104,104
4,RALA,CALM2,313,0,0,313,313,313
...,...,...,...,...,...,...,...,...
11759449,DUX4L7,ENSG00000274175,0,0,560,560,560,560
11759450,DUX4,ENSG00000274175,0,0,556,556,556,556
11759451,DUX4L8,ENSG00000274175,0,0,559,559,559,559
11759452,DYNLL2,C17orf47,212,0,0,212,212,212
11759453,FAM65B,C6orf229,0,0,0,41,41,41

'proteins_interac_nonunique_ids'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
720,ENSG00000258947,9606.ENSP00000320295,CALM2,9606.ENSP00000272298,0,0,94,94
1737,ENSG00000258947,9606.ENSP00000451560,CALM2,9606.ENSP00000272298,0,0,84,84
1816,ENSG00000243667,9606.ENSP00000477980,CALM2,9606.ENSP00000272298,0,0,0,41
2128,ENSG00000258947,9606.ENSP00000320295,ARHGEF9,9606.ENSP00000253401,0,0,0,41
2524,ENSG00000258947,9606.ENSP00000451560,ARHGEF9,9606.ENSP00000253401,0,0,0,41
...,...,...,...,...,...,...,...,...
11724878,PADI6,9606.ENSP00000483125,ENSG00000239810,9606.ENSP00000480027,0,0,257,256
11724879,PRAMEF7,9606.ENSP00000484237,ENSG00000239810,9606.ENSP00000480027,0,0,0,41
11724880,PRAMEF25,9606.ENSP00000485258,ENSG00000239810,9606.ENSP00000480027,0,0,0,41
11724881,DUX4L8,9606.ENSP00000485452,ENSG00000239810,9606.ENSP00000480027,0,0,420,420
11724882,PRAMEF18,9606.ENSP00000485473,ENSG00000239810,9606.ENSP00000480027,0,0,0,41

,Protein 1,Protein 2,Protein 1 ID,Protein 2 ID,experiments,database,textmining,Physical Combined Score
5269,ENSG00000258947,ENSG00000166160,3,3,3,3,3,3
1540,ENSG00000166160,ENSG00000258947,3,3,3,3,3,3
5415,ENSG00000258947,GFRA2,2,2,2,2,2,2
4717,ENSG00000258947,ANKS1B,2,2,2,2,2,2
8027,LETM1,ENSG00000183628,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...
4086,ENSG00000243667,PRKAR1B,1,1,1,1,1,1
4085,ENSG00000243667,PRKAR1A,1,1,1,1,1,1
4084,ENSG00000243667,PRKACG,1,1,1,1,1,1
4083,ENSG00000243667,PRKACB,1,1,1,1,1,1
10829,ZUFSP,ENSG00000197054,1,1,1,1,1,1

1    5608
2    5220
3       2
Name: Physical Combined Score, dtype: int64

'corrected_proteins_interac_nonunique_ids'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,339010,ENSG00000243667,NaN,NaN,NaN,NaN,41,41.0
1,339010,ENSG00000258947,NaN,NaN,NaN,NaN,41,41.0
2,AAMDC,ENSG00000243667,NaN,NaN,NaN,NaN,41,41.0
3,ABCA4,ENSG00000166160,NaN,NaN,NaN,NaN,145,145.0
4,ABCB1,ENSG00000258947,NaN,NaN,NaN,NaN,329,307.5
...,...,...,...,...,...,...,...,...
10825,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,268,267.0
10826,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,214,214.0
10827,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,215,213.5
10828,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,41,41.0
10829,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,284,284.0

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.0,0.0,0.0,41.0,41,41.0
1,FKBP4,CALM2,0.0,0.0,0.0,41.0,41,41.0
2,CYP51A1,CALM2,0.0,0.0,0.0,41.0,41,41.0
3,PDK4,CALM2,0.0,0.0,104.0,104.0,104,104.0
4,RALA,CALM2,313.0,0.0,0.0,313.0,313,313.0
...,...,...,...,...,...,...,...,...
10825,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,268,267.0
10826,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,214,214.0
10827,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,215,213.5
10828,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,41,41.0
10829,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,284,284.0

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
10825,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,0.268,0.2670
10826,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,0.214,0.2140
10827,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,0.215,0.2135
10828,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,0.041,0.0410
10829,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,0.284,0.2840

Printing out counting statistics for entire filtering and correction process
-----------------------------------------------------------------------------
Number of Original Records: 11759454
Number of Self-Interacting Protein Records: 4
Number of Non-self Interacting Protein Records: 11759450

Number of Records containing Non-self Interacting Unique Protein ID: 11743396
Number of Records containing Non-self Interacting Non-unique Protein ID: 16054
Number of Records containing Non-self Interacting Non-unique Protein ID (Corrected): 10830

Number of Records in Final Table: 11754226
Number of Records reduced: 5228

Constructed and saved outputs/output_clean_string_score_table/string_score_table.csv
Constructed and saved inputs/input_string_network_analysis/string_score_table.csv
Constructed and saved inputs/input_filter_string_and_pathfx_score_tables/string_score_table.csv
Finished Running clean_string_score_table.ipynb

Running filter_string_and_pathfx_score_tables.ipynb ...

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
11754221,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,0.268,0.2670
11754222,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,0.214,0.2140
11754223,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,0.215,0.2135
11754224,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,0.041,0.0410
11754225,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,0.284,0.2840

'pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
273057     SFTPA1          SFTPA2  0.359348
273058       VCAN            SELL  0.279930
273059       SELP            VCAN  0.279930
273060       NFIB            NFIC  0.279930
273061       NFIX            NFIB  0.279930

[273062 rows x 3 columns]

STRING Database
-------------------------------------------
Number of Unique Protein 1s: 19344
Number of Unique Protein 2s: 19344
Number of Unique Protein: 19344

PathFX Interactome
-------------------------------------------
Number of Unique sources: 23970
Number of Unique targets: 23970
Number of Unique sources and targets: 23970

Both STRING and PathFX
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13948
Number of distinct STRING nodes: 5396
Number of distinct PathFX nodes: 10022


Comparison of NODES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13948
Number of distinct STRING nodes: 5396
Number of distinct PathFX nodes: 10022

Comparison of EDGES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Edges from both graph networks: 72278
Number of distinct STRING edges: 5804835
Number of distinct PathFX edges: 64253

'filtered_string_score_df'

,source,target,textmining,Physical Combined Score,database,Avg Physical Combined Score,experiments,Max Physical Combined Score
0,ARF5,ARHGEF9,0.000,0.041,0.0,0.041,0.000,0.041
1,ARF5,ERN1,0.000,0.041,0.0,0.041,0.000,0.041
2,ARF5,CDKN2A,0.542,0.542,0.0,0.542,0.000,0.542
3,ARF5,P4HB,0.000,0.041,0.0,0.041,0.000,0.041
4,ARF5,STX10,0.000,0.041,0.0,0.041,0.000,0.041
...,...,...,...,...,...,...,...,...
4266450,TSACC,ALS2CR11,0.567,0.567,0.0,0.567,0.000,0.567
4266451,LCE3E,LCE1B,0.330,0.930,0.9,0.930,0.000,0.930
4266452,LCE3E,KRTAP10-7,0.344,0.380,0.0,0.380,0.095,0.380
4266453,LCE3E,KRTAP5-6,0.000,0.232,0.0,0.232,0.233,0.232
4266454,LCE1B,KRTAP5-6,0.000,0.264,0.0,0.264,0.264,0.264

'filtered_pathfx_score_df'

        source   target    weight
0        ADRB2    CALM3  0.471716
1        ADRB2   PPP3CA  0.323872
2        ADRB2    GNL3L  0.375065
3        ADRB2    ADCY3  0.490794
4        ADRB2  PLA2G2D  0.490794
...        ...      ...       ...
103822   CBLN3    CBLN1  0.422287
103823    HCN2     HCN4  0.346946
103824    ZIC2   RNF180  0.495315
103825  BCKDHB   BCKDHA  0.279930
103826   RPE65  SLC27A1  0.279930

[103827 rows x 3 columns]

'filtered_string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,ARHGEF9,0.000,0.0,0.000,0.041,0.041,0.041
1,ARF5,ERN1,0.000,0.0,0.000,0.041,0.041,0.041
2,ARF5,CDKN2A,0.000,0.0,0.542,0.542,0.542,0.542
3,ARF5,P4HB,0.000,0.0,0.000,0.041,0.041,0.041
4,ARF5,STX10,0.000,0.0,0.000,0.041,0.041,0.041
...,...,...,...,...,...,...,...,...
4266450,ALS2CR11,TSACC,0.000,0.0,0.567,0.567,0.567,0.567
4266451,LCE1B,LCE3E,0.000,0.9,0.330,0.930,0.930,0.930
4266452,KRTAP10-7,LCE3E,0.095,0.0,0.344,0.380,0.380,0.380
4266453,KRTAP5-6,LCE3E,0.233,0.0,0.000,0.232,0.232,0.232
4266454,KRTAP5-6,LCE1B,0.264,0.0,0.000,0.264,0.264,0.264

'filtered_pathfx_score_df'

         source   target    weight
0         ADRB2    CALM3  0.471716
1         ADRB2   PPP3CA  0.323872
2         ADRB2    GNL3L  0.375065
3         ADRB2    ADCY3  0.490794
4         ADRB2  PLA2G2D  0.490794
...         ...      ...       ...
103822    CBLN1    CBLN3  0.422287
103823     HCN4     HCN2  0.346946
103824   RNF180     ZIC2  0.495315
103825   BCKDHA   BCKDHB  0.279930
103826  SLC27A1    RPE65  0.279930

[207654 rows x 3 columns]

Filtered STRING Database
-------------------------------------------
Number of Unique Protein 1s: 13948
Number of Unique Protein 2s: 13948
Number of Unique Protein: 13948

Filtered PathFX Interactome
-------------------------------------------
Number of Unique sources: 13661
Number of Unique targets: 13661
Number of Unique sources and targets: 13661

Both STRING and PathFX
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13661
Number of distinct STRING nodes: 287
Number of distinct PathFX nodes: 0

Constructed and saved outputs/output_filter_string_and_pathfx_score_tables/pathfx_score_table.csv.csv
Constructed and saved outputs/output_filter_string_and_pathfx_score_tables/string_score_table.csv.csv
Constructed and saved inputs/input_pathfx_network_analysis/pathfx_score_table.csv
Constructed and saved inputs/input_string_network_analysis/string_score_table.csv
Finished Running filter_string_and_pathfx_score_tables.ipynb

Running pathfx_network_analysis.ipynb ...

'pathfx_score_df'

         source   target    weight
0         ADRB2    CALM3  0.471716
1         ADRB2   PPP3CA  0.323872
2         ADRB2    GNL3L  0.375065
3         ADRB2    ADCY3  0.490794
4         ADRB2  PLA2G2D  0.490794
...         ...      ...       ...
207649    CBLN1    CBLN3  0.422287
207650     HCN4     HCN2  0.346946
207651   RNF180     ZIC2  0.495315
207652   BCKDHA   BCKDHB  0.279930
207653  SLC27A1    RPE65  0.279930

[207654 rows x 3 columns]

Outputting Number of Distinct Proteins
------------------------------------------------
Number of Unique sources: 13661
Number of Unique targets: 13661
Number of Unique sources and targets: 13661

'pathfx_source_to_target_weight_stats_df'

      source  count      mean       std       max       min          sum
12587    UBC   6592  0.530731  0.131993  0.935012  0.279930  3498.577766
636      APP   1934  0.287171  0.039294  0.705007  0.246744   555.389373
11443  SUMO2    686  0.432130  0.084895  0.818355  0.246936   296.441152
12201   TP53    521  0.425785  0.124181  0.872160  0.279930   221.834245
3476    EGFR    383  0.400774  0.104261  0.935012  0.246936   153.496566
...      ...    ...       ...       ...       ...       ...          ...
10225  S1PR5      1  0.279930       NaN  0.279930  0.279930     0.279930
10227   SAA2      1  0.279930       NaN  0.279930  0.279930     0.279930
1019    BAAT      1  0.279930       NaN  0.279930  0.279930     0.279930
10234    SAG      1  0.346946       NaN  0.346946  0.346946     0.346946
1039   BANK1      1  0.346946       NaN  0.346946  0.346946     0.346946

[13661 rows x 7 columns]

'pathfx_num_target_per_source_stats_df'

       Number Target Interacton Per Source
count                         13661.000000
mean                             15.200498
std                              64.419458
max                            6592.000000
min                               1.000000
sum                          207654.000000

'pathfx_num_interac_distribution_df'

     Number of Protein Interactions  count
0                                 1   2447
1                                 2   1578
2                                 3   1129
3                                 4    854
4                                 5    732
..                              ...    ...
176                             293      1
177                             279      1
178                             278      1
179                             258      1
214                            6592      1

[215 rows x 2 columns]

'pathfx_edge_score_distribution_df'

     Edge Score  count
0      0.279930  33997
1      0.323872  18345
2      0.380279   9763
3      0.471716   9429
4      0.346946   6227
..          ...    ...
603    0.557242      1
602    0.918548      1
601    0.794593      1
600    0.673390      1
942    0.611452      1

[943 rows x 2 columns]

'pathfx_removed_cross_pair_df'

         source   target    weight
0         ADRB2    CALM3  0.471716
1         ADRB2   PPP3CA  0.323872
2         ADRB2    GNL3L  0.375065
4         ADRB2  PLA2G2D  0.490794
5         ADRB2    RAB3A  0.375065
...         ...      ...       ...
207644  DSCAML1    PLCL2  0.279930
207645    GRHL1    GRHL3  0.346946
207649    CBLN1    CBLN3  0.422287
207651   RNF180     ZIC2  0.495315
207652   BCKDHA   BCKDHB  0.279930

[103827 rows x 3 columns]

'pathfx_all_weight_stats_df'

              weight
count  103827.000000
mean        0.373906
std         0.108259
max         0.935012
min         0.244958
sum     38821.504499

Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_score_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_all_weight_stats_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_num_target_per_source_stats_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_source_to_target_weight_stats.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_num_interac_distribution_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_removed_cross_pair_pathfx_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in PathFX_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in PathFX (Zoomed)_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in PathFX (Zoomed 2x)_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of edge scores in PathFX_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of edge scores in PathFX (Zoomed)_histplot.png

PathFX Interactome
-------------------------------------------
Number of Unique sources: 13661
Number of Unique targets: 13661
Number of Unique sources and targets: 13661


Constructing Network graph for Protein-Protein Combined score interaction (Avg Physical Combined Score)


Saving Constructed Network graph for PathFX

PathFX NetworkX Interactome Graph
-------------------------------------
Number of Nodes: 13661
Number of Edges: 103827

Average node degree: 15.200497767366958
Standard Deviation node degree: 64.41945828630979
Max node degree: 6592.0
Min node degree: 1.0

Average edge weight: 0.3739056748139471
Standard Deviation node degree: 0.10825860607286608
Max edge weight: 0.935012238275
Min edge weight: 0.244957679172

nx Graph is connected - False
Number of Connected Components: 29

Top 25 Proteins with Most Neighbors - Weighted Edge Scores
-------------------------------------------------------------------------------------
          source  count      mean       std       max       min          sum
12587        UBC   6592  0.530731  0.131993  0.935012  0.279930  3498.577766
636          APP   1934  0.287171  0.039294  0.705007  0.246744   555.389373
11443      SUMO2    686  0.432130  0.084895  0.818355  0.246936   296.441152
12201       TP53    521  0.425785  0.124181  0.872160  0.279930   221.834245
3476        EGFR    383  0.400774  0.104261  0.935012  0.246936   153.496566
1204       BRCA1    363  0.382165  0.124814  0.832451  0.246936   138.725901
3641       EP300    357  0.391820  0.114950  0.831286  0.246936   139.879773
12603      UBE2I    353  0.346684  0.092771  0.708132  0.246936   122.379322
2690     CSNK2A1    332  0.330705  0.077396  0.691677  0.246936   109.794058
4782        GRB2    328  0.358826  0.091646  0.743959  0.279930   117.695051
11442      SUMO1    313  0.405099  0.090621  0.785320  0.246936   126.796120
3737        ESR1    311  0.405062  0.114634  0.837262  0.246936   125.974187
4980       HDAC1    307  0.431237  0.122624  0.917601  0.246936   132.389863
6125       KRT40    293  0.382293  0.097807  0.593777  0.279930   112.011925
6805        MDM2    279  0.441974  0.132233  0.872160  0.279930   123.310636
4674      GOLGA2    278  0.394930  0.099599  0.638448  0.246936   109.790545
11218        SRC    273  0.389385  0.107771  0.745886  0.246936   106.302004
6150   KRTAP10-3    273  0.279930  0.000000  0.279930  0.279930    76.421004
650           AR    258  0.415495  0.120937  0.854536  0.246936   107.197753
13141      YWHAQ    256  0.348247  0.098429  0.750400  0.279930    89.151215
12246      TRAF2    254  0.400970  0.114499  0.858890  0.279930   101.846325
968        ATXN1    253  0.341363  0.097079  0.714695  0.279930    86.364875
12304     TRIM27    252  0.383407  0.098721  0.703551  0.279930    96.618612
5876       KDM1A    248  0.338740  0.103576  0.826524  0.279930    84.007435
2611      CREBBP    247  0.389051  0.101995  0.816659  0.246936    96.095561

Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_G.gpickle
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_score_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_num_target_per_source_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_removed_cross_pair_pathfx_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_all_weight_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_source_to_target_weight_stats_table.csv
Finished Running pathfx_network_analysis.ipynb

Running string_network_analysis.ipynb ...

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,ARHGEF9,0.000,0.0,0.000,0.041,0.041,0.041
1,ARF5,ERN1,0.000,0.0,0.000,0.041,0.041,0.041
2,ARF5,CDKN2A,0.000,0.0,0.542,0.542,0.542,0.542
3,ARF5,P4HB,0.000,0.0,0.000,0.041,0.041,0.041
4,ARF5,STX10,0.000,0.0,0.000,0.041,0.041,0.041
...,...,...,...,...,...,...,...,...
8532905,ALS2CR11,TSACC,0.000,0.0,0.567,0.567,0.567,0.567
8532906,LCE1B,LCE3E,0.000,0.9,0.330,0.930,0.930,0.930
8532907,KRTAP10-7,LCE3E,0.095,0.0,0.344,0.380,0.380,0.380
8532908,KRTAP5-6,LCE3E,0.233,0.0,0.000,0.232,0.232,0.232
8532909,KRTAP5-6,LCE1B,0.264,0.0,0.000,0.264,0.264,0.264

'string_num_protein_per_protein_stats_df'

       Number Protein Interaction Per Protein
count                            1.394800e+04
mean                             6.117658e+02
std                              4.857410e+02
max                              6.739000e+03
min                              1.000000e+00
sum                              8.532910e+06

'string_removed_cross_pair_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,ARHGEF9,0.000,0.0,0.000,0.041,0.041,0.041
1,ARF5,ERN1,0.000,0.0,0.000,0.041,0.041,0.041
2,ARF5,CDKN2A,0.000,0.0,0.542,0.542,0.542,0.542
3,ARF5,P4HB,0.000,0.0,0.000,0.041,0.041,0.041
4,ARF5,STX10,0.000,0.0,0.000,0.041,0.041,0.041
...,...,...,...,...,...,...,...,...
8532905,ALS2CR11,TSACC,0.000,0.0,0.567,0.567,0.567,0.567
8532906,LCE1B,LCE3E,0.000,0.9,0.330,0.930,0.930,0.930
8532907,KRTAP10-7,LCE3E,0.095,0.0,0.344,0.380,0.380,0.380
8532908,KRTAP5-6,LCE3E,0.233,0.0,0.000,0.232,0.232,0.232
8532909,KRTAP5-6,LCE1B,0.264,0.0,0.000,0.264,0.264,0.264

'string_all_max_physical_combined_scores_stats_df'

       Max Physical Combined Score
count                 4.266455e+06
mean                  1.922272e-01
std                   2.309624e-01
max                   9.990000e-01
min                   4.100000e-02
sum                   8.201286e+05

'string_all_avg_physical_combined_scores_stats_df'

       Avg Physical Combined Score
count                 4.266455e+06
mean                  1.922272e-01
std                   2.309624e-01
max                   9.990000e-01
min                   4.100000e-02
sum                   8.201286e+05

Constructed and saved outputs/output_string_network_analysis/csv_files/string_score_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_num_protein_per_protein_stats_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_removed_cross_pair_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_all_max_physical_combined_scores_stats_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_all_avg_physical_combined_scores_stats_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_experiments_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_database_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_textmining_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_Physical Combined Score_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_Max Physical Combined Score_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_Avg Physical Combined Score_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of experiments in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of database in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of textmining in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Physical Combined Score in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Max Physical Combined Score in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Avg Physical Combined Score in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Avg Physical Combined Score in STRING (ZOOMED LEFT)_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Avg Physical Combined Score in STRING (ZOOMED RIGHT)_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in STRING (ZOOMED)_histplot.png

'string_summary_score_stats_for_avg_physical_combined_score_df'

      Protein ID  count      mean       std    max    min       sum
0          GAPDH   6739  0.248155  0.151822  0.994  0.041  1672.319
1           AKT1   5837  0.312324  0.227158  0.999  0.041  1823.035
2           TP53   5604  0.365078  0.245133  0.999  0.041  2045.899
3            MYC   5302  0.298459  0.189086  0.999  0.041  1582.430
4            INS   5267  0.328817  0.205672  0.998  0.041  1731.879
...          ...    ...       ...       ...    ...    ...       ...
13943      CDPF1      3  0.212333  0.031390  0.237  0.177     0.637
13944   C12orf40      2  0.143500  0.144957  0.246  0.041     0.287
13945     BRICD5      1  0.181000       NaN  0.181  0.181     0.181
13946      PGBD3      1  0.532000       NaN  0.532  0.532     0.532
13947   C10orf95      1  0.379000       NaN  0.379  0.379     0.379

[13948 rows x 7 columns]

STRING Database
-------------------------------------------
Number of Unique Protein 1s: 13948
Number of Unique Protein 2s: 13948
Number of Unique Protein: 13948


Constructing Network graph for Protein-Protein Combined score interaction (Avg Physical Combined Score)

Saving Constructed Network graph for Protein-Protein Combined score interaction (Avg Physical Combined Score)

STRING Database NetworkX Graph
-------------------------------------
Number of Nodes: 13948
Number of Edges: 4266455
Average node degree: 611.7658445655292
Standard Deviation node degree: 485.74102472648985
Max node degree: 6739.0
Min node degree: 1.0
Average edge weight: 0.19222717150387195
Standard Deviation node degree: 0.2309623662874354
Max edge weight: 0.999
Min edge weight: 0.041
nx Graph is connected - True
Number of Connected Components: 1

Top 25 Proteins with Most Neighbors - Avg Physical Combined Scored
-------------------------------------------------------------------------------------
   Protein ID  count      mean       std    max    min       sum
0       GAPDH   6739  0.248155  0.151822  0.994  0.041  1672.319
1        AKT1   5837  0.312324  0.227158  0.999  0.041  1823.035
2        TP53   5604  0.365078  0.245133  0.999  0.041  2045.899
3         MYC   5302  0.298459  0.189086  0.999  0.041  1582.430
4         INS   5267  0.328817  0.205672  0.998  0.041  1731.879
5        HRAS   5034  0.255595  0.218984  0.998  0.041  1286.664
6         ALB   4682  0.293333  0.183516  0.992  0.041  1373.387
7       MAPK3   4677  0.260013  0.239445  0.999  0.041  1216.083
8        EGFR   4569  0.312106  0.236339  0.999  0.041  1426.013
9       MAPK1   4198  0.272382  0.267365  0.999  0.041  1143.459
10        TNF   4168  0.304026  0.210133  0.999  0.041  1267.180
11        SRC   4157  0.305307  0.253807  0.999  0.041  1269.163
12       ACTB   4143  0.240699  0.206675  0.996  0.041   997.215
13        EGF   3968  0.323706  0.227191  0.999  0.041  1284.464
14      LRRK2   3964  0.105833  0.132308  0.962  0.041   419.523
15   HSP90AA1   3865  0.249744  0.242587  0.996  0.041   965.262
16        JUN   3815  0.293695  0.227210  0.999  0.041  1120.446
17       PTEN   3799  0.261419  0.205780  0.997  0.041   993.132
18     NOTCH1   3787  0.276918  0.193242  0.999  0.041  1048.689
19        IL6   3630  0.346475  0.225182  0.999  0.041  1257.704
20      CASP3   3574  0.284096  0.193029  0.999  0.041  1015.359
21     CDKN2A   3556  0.241702  0.172250  0.998  0.041   859.493
22      HSPA4   3550  0.214824  0.181889  0.998  0.041   762.624
23      MAPK8   3537  0.297140  0.226156  0.998  0.041  1050.985
24        FN1   3514  0.312481  0.223856  0.995  0.041  1098.058

Constructed and saved inputs/input_comparison_network_analysis/string/string_G.gpickle
Constructed and saved inputs/input_comparison_network_analysis/string/string_score_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_num_protein_per_protein_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_removed_cross_pair_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_all_avg_physical_combined_scores_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_summary_score_stats_for_Avg.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_summary_score_stats_for_Avg Physical Combined Score_per_protein.csv
Finished Running string_network_analysis.ipynb

Running comparison_network_analysis.ipynb ...

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,ARHGEF9,0.000,0.0,0.000,0.041,0.041,0.041
1,ARF5,ERN1,0.000,0.0,0.000,0.041,0.041,0.041
2,ARF5,CDKN2A,0.000,0.0,0.542,0.542,0.542,0.542
3,ARF5,P4HB,0.000,0.0,0.000,0.041,0.041,0.041
4,ARF5,STX10,0.000,0.0,0.000,0.041,0.041,0.041
...,...,...,...,...,...,...,...,...
8532905,ALS2CR11,TSACC,0.000,0.0,0.567,0.567,0.567,0.567
8532906,LCE1B,LCE3E,0.000,0.9,0.330,0.930,0.930,0.930
8532907,KRTAP10-7,LCE3E,0.095,0.0,0.344,0.380,0.380,0.380
8532908,KRTAP5-6,LCE3E,0.233,0.0,0.000,0.232,0.232,0.232
8532909,KRTAP5-6,LCE1B,0.264,0.0,0.000,0.264,0.264,0.264

'string_num_protein_per_protein_stats_df'

       Number Protein Interaction Per Protein
count                            1.394800e+04
mean                             6.117658e+02
std                              4.857410e+02
max                              6.739000e+03
min                              1.000000e+00
sum                              8.532910e+06

'string_removed_cross_pair_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,ARHGEF9,0.000,0.0,0.000,0.041,0.041,0.041
1,ARF5,ERN1,0.000,0.0,0.000,0.041,0.041,0.041
2,ARF5,CDKN2A,0.000,0.0,0.542,0.542,0.542,0.542
3,ARF5,P4HB,0.000,0.0,0.000,0.041,0.041,0.041
4,ARF5,STX10,0.000,0.0,0.000,0.041,0.041,0.041
...,...,...,...,...,...,...,...,...
4266450,ALS2CR11,TSACC,0.000,0.0,0.567,0.567,0.567,0.567
4266451,LCE1B,LCE3E,0.000,0.9,0.330,0.930,0.930,0.930
4266452,KRTAP10-7,LCE3E,0.095,0.0,0.344,0.380,0.380,0.380
4266453,KRTAP5-6,LCE3E,0.233,0.0,0.000,0.232,0.232,0.232
4266454,KRTAP5-6,LCE1B,0.264,0.0,0.000,0.264,0.264,0.264

'string_all_avg_physical_combined_scores_stats_df'

       Avg Physical Combined Score
count                 4.266455e+06
mean                  1.922272e-01
std                   2.309624e-01
max                   9.990000e-01
min                   4.100000e-02
sum                   8.201286e+05

'string_summary_score_stats_for_avg_physical_combined_score_df'

      Protein ID  count      mean       std    max    min       sum
0          GAPDH   6739  0.248155  0.151822  0.994  0.041  1672.319
1           AKT1   5837  0.312324  0.227158  0.999  0.041  1823.035
2           TP53   5604  0.365078  0.245133  0.999  0.041  2045.899
3            MYC   5302  0.298459  0.189086  0.999  0.041  1582.430
4            INS   5267  0.328817  0.205672  0.998  0.041  1731.879
...          ...    ...       ...       ...    ...    ...       ...
13943      CDPF1      3  0.212333  0.031390  0.237  0.177     0.637
13944   C12orf40      2  0.143500  0.144957  0.246  0.041     0.287
13945     BRICD5      1  0.181000       NaN  0.181  0.181     0.181
13946      PGBD3      1  0.532000       NaN  0.532  0.532     0.532
13947   C10orf95      1  0.379000       NaN  0.379  0.379     0.379

[13948 rows x 7 columns]

'pathfx_score_df'

         source   target    weight
0         ADRB2    CALM3  0.471716
1         ADRB2   PPP3CA  0.323872
2         ADRB2    GNL3L  0.375065
3         ADRB2    ADCY3  0.490794
4         ADRB2  PLA2G2D  0.490794
...         ...      ...       ...
207649    CBLN1    CBLN3  0.422287
207650     HCN4     HCN2  0.346946
207651   RNF180     ZIC2  0.495315
207652   BCKDHA   BCKDHB  0.279930
207653  SLC27A1    RPE65  0.279930

[207654 rows x 3 columns]

'pathfx_num_target_per_source_stats_df'

       Number Target Interacton Per Source
count                         13661.000000
mean                             15.200498
std                              64.419458
max                            6592.000000
min                               1.000000
sum                          207654.000000

'pathfx_removed_cross_pair_df'

         source   target    weight
0         ADRB2    CALM3  0.471716
1         ADRB2   PPP3CA  0.323872
2         ADRB2    GNL3L  0.375065
3         ADRB2  PLA2G2D  0.490794
4         ADRB2    RAB3A  0.375065
...         ...      ...       ...
103822  DSCAML1    PLCL2  0.279930
103823    GRHL1    GRHL3  0.346946
103824    CBLN1    CBLN3  0.422287
103825   RNF180     ZIC2  0.495315
103826   BCKDHA   BCKDHB  0.279930

[103827 rows x 3 columns]

'pathfx_all_weight_stats_df'

              weight
count  103827.000000
mean        0.373906
std         0.108259
max         0.935012
min         0.244958
sum     38821.504499

'pathfx_source_to_target_weight_stats_df'

      source  count      mean       std       max       min          sum
0        UBC   6592  0.530731  0.131993  0.935012  0.279930  3498.577766
1        APP   1934  0.287171  0.039294  0.705007  0.246744   555.389373
2      SUMO2    686  0.432130  0.084895  0.818355  0.246936   296.441152
3       TP53    521  0.425785  0.124181  0.872160  0.279930   221.834245
4       EGFR    383  0.400774  0.104261  0.935012  0.246936   153.496566
...      ...    ...       ...       ...       ...       ...          ...
13656  S1PR5      1  0.279930       NaN  0.279930  0.279930     0.279930
13657   SAA2      1  0.279930       NaN  0.279930  0.279930     0.279930
13658   BAAT      1  0.279930       NaN  0.279930  0.279930     0.279930
13659    SAG      1  0.346946       NaN  0.346946  0.346946     0.346946
13660  BANK1      1  0.346946       NaN  0.346946  0.346946     0.346946

[13661 rows x 7 columns]

STRING Database
-------------------------------------------
Number of Unique Protein 1s: 13948
Number of Unique Protein 2s: 13948
Number of Unique Protein: 13948


PathFX Interactome
-------------------------------------------
Number of Unique sources: 13661
Number of Unique targets: 13661
Number of Unique sources and targets: 13661


Both STRING and PathFX
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13661
Number of distinct STRING nodes: 287
Number of distinct PathFX nodes: 0


Comparison of NODES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13661
Number of distinct STRING nodes: 287
Number of distinct PathFX nodes: 0


Comparison of EDGES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Edges from both graph networks: 72278
Number of distinct STRING edges: 4194177
Number of distinct PathFX edges: 31549

Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of edge scores in STRING and PathFX_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of edge scores in STRING and PathFX (ZOOMED RIGHT)_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of edge scores in STRING and PathFX (ZOOMED LEFT)_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of Number of Interactions per Protein in STRING and PathFX_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of Number of Interactions per Protein in STRING and PathFX (ZOOMED)_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of Number of Interactions per Protein in STRING and PathFX (ZOOMED 2x)_histplot.png
Finished Running comparison_network_analysis.ipynb

Finished Running all iPython Notebooks

Saving Output Folders...
Folder output_pathfx_network_analysis renamed to outputs/FLTERED_FOR_SAME_NODES_output_pathfx_network_analysis successfully
Folder output_string_network_analysis renamed to outputs/FLTERED_FOR_SAME_NODES_output_string_network_analysis successfully
Folder output_comparison_network_analysis renamed to outputs/FLTERED_FOR_SAME_NODES_output_comparison_network_analysis successfully

================================================================================================



Nework Analysis for Filter Type: FLTERED_FOR_CLOSE_NODES_
================================================================================================


Running clean_pathfx_score_table.ipynb ...

'pre_pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
139082       VCAN            SELP  0.279930
139083       NFIC            NFIB  0.279930
139084       NFIB            NFIX  0.279930
139085       SELK            SELK  0.416595
139086       NFIX            NFIX  0.279930

[139087 rows x 3 columns]

Nonself Records:

'pre_pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
139075     SFTPA2          SFTPA1  0.359348
139080       SELL            VCAN  0.279930
139082       VCAN            SELP  0.279930
139083       NFIC            NFIB  0.279930
139084       NFIB            NFIX  0.279930

[136531 rows x 3 columns]

Outputting Number of Distinct Proteins
------------------------------------------------
Number of Unique sources: 17602
Number of Unique targets: 18089
Number of Unique sources and targets: 23970

'mirror_copy_pre_pathfx_score_df'

                source     target    weight
0        isoproterenol  rs1042713  0.233675
1       Ace Inhibitors  rs1042713  0.285181
2          Angiotensin  rs1042713  0.285181
3                Plain  rs1042713  0.285181
4          risperidone  rs1042713  0.285181
...                ...        ...       ...
139075          SFTPA1     SFTPA2  0.359348
139080            VCAN       SELL  0.279930
139082            SELP       VCAN  0.279930
139083            NFIB       NFIC  0.279930
139084            NFIX       NFIB  0.279930

[136531 rows x 3 columns]

'pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
139075     SFTPA1          SFTPA2  0.359348
139080       VCAN            SELL  0.279930
139082       SELP            VCAN  0.279930
139083       NFIB            NFIC  0.279930
139084       NFIX            NFIB  0.279930

[273062 rows x 3 columns]

Outputting Number of Distinct Proteins
------------------------------------------------
Number of Unique sources: 23970
Number of Unique targets: 23970
Number of Unique sources and targets: 23970

Constructed and saved outputs/output_clean_pathfx_score_table/pathfx_score_table.csv
Constructed and saved inputs/input_pathfx_network_analysis/pathfx_score_table.csv
Constructed and saved inputs/input_filter_string_and_pathfx_score_tables/pathfx_score_table.csv
Finished Running clean_pathfx_score_table.ipynb

Running clean_string_score_table.ipynb ...

'string_pre_score_df'

,Protein 1 ID,Protein 2 ID,experiments,database,textmining,Physical Combined Score
0,9606.ENSP00000000233,9606.ENSP00000272298,0,0,0,41
1,9606.ENSP00000000233,9606.ENSP00000253401,0,0,0,41
2,9606.ENSP00000000233,9606.ENSP00000401445,0,0,0,41
3,9606.ENSP00000000233,9606.ENSP00000418915,0,0,542,542
4,9606.ENSP00000000233,9606.ENSP00000327801,0,0,0,41
...,...,...,...,...,...,...
11759449,9606.ENSP00000485678,9606.ENSP00000310488,0,0,0,41
11759450,9606.ENSP00000485678,9606.ENSP00000342448,0,0,0,41
11759451,9606.ENSP00000485678,9606.ENSP00000350222,0,0,0,41
11759452,9606.ENSP00000485678,9606.ENSP00000367590,0,900,0,900
11759453,9606.ENSP00000485678,9606.ENSP00000349930,0,0,0,41

'string_info_df'

,Protein ID,Protein,protein_size,annotation
0,9606.ENSP00000000233,ARF5,180,ADP-ribosylation factor 5; GTP-binding protein...
1,9606.ENSP00000000412,M6PR,277,Cation-dependent mannose-6-phosphate receptor;...
2,9606.ENSP00000001008,FKBP4,459,Peptidyl-prolyl cis-trans isomerase FKBP4; Imm...
3,9606.ENSP00000001146,CYP26B1,512,Cytochrome P450 26B1; Involved in the metaboli...
4,9606.ENSP00000002125,NDUFAF7,441,"Protein arginine methyltransferase NDUFAF7, mi..."
...,...,...,...,...
19561,9606.ENSP00000485671,ENSG00000280273,120,HCG1991042
19562,9606.ENSP00000485672,ENSG00000279458,86,annotation not available
19563,9606.ENSP00000485673,ENSG00000279988,243,annotation not available
19564,9606.ENSP00000485675,ENSG00000280116,84,annotation not available
19565,9606.ENSP00000485678,OR6Q1,317,Olfactory receptor 6Q1; Odorant receptor; Olfa...

'string_score_df'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
0,ARF5,9606.ENSP00000000233,CALM2,9606.ENSP00000272298,0,0,0,41
1,FKBP4,9606.ENSP00000001008,CALM2,9606.ENSP00000272298,0,0,0,41
2,CYP51A1,9606.ENSP00000003100,CALM2,9606.ENSP00000272298,0,0,0,41
3,PDK4,9606.ENSP00000005178,CALM2,9606.ENSP00000272298,0,0,104,104
4,RALA,9606.ENSP00000005257,CALM2,9606.ENSP00000272298,313,0,0,313
...,...,...,...,...,...,...,...,...
11759449,DUX4L7,9606.ENSP00000451411,ENSG00000274175,9606.ENSP00000479378,0,0,560,560
11759450,DUX4,9606.ENSP00000458065,ENSG00000274175,9606.ENSP00000479378,0,0,556,556
11759451,DUX4L8,9606.ENSP00000485452,ENSG00000274175,9606.ENSP00000479378,0,0,559,559
11759452,DYNLL2,9606.ENSP00000477310,C17orf47,9606.ENSP00000354874,212,0,0,212
11759453,FAM65B,9606.ENSP00000482957,C6orf229,9606.ENSP00000454913,0,0,0,41

'self_interacting_protein'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
2674693,ENSG00000243667,9606.ENSP00000295121,ENSG00000243667,9606.ENSP00000477980,800,0,0,800
7375638,ENSG00000216937,9606.ENSP00000364165,ENSG00000216937,9606.ENSP00000355078,0,0,0,41
7409667,ENSG00000216937,9606.ENSP00000355078,ENSG00000216937,9606.ENSP00000364165,0,0,0,41
8264678,ENSG00000243667,9606.ENSP00000477980,ENSG00000243667,9606.ENSP00000295121,800,0,0,800

'non_self_interacting_protein'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
0,ARF5,9606.ENSP00000000233,CALM2,9606.ENSP00000272298,0,0,0,41
1,FKBP4,9606.ENSP00000001008,CALM2,9606.ENSP00000272298,0,0,0,41
2,CYP51A1,9606.ENSP00000003100,CALM2,9606.ENSP00000272298,0,0,0,41
3,PDK4,9606.ENSP00000005178,CALM2,9606.ENSP00000272298,0,0,104,104
4,RALA,9606.ENSP00000005257,CALM2,9606.ENSP00000272298,313,0,0,313
...,...,...,...,...,...,...,...,...
11759449,DUX4L7,9606.ENSP00000451411,ENSG00000274175,9606.ENSP00000479378,0,0,560,560
11759450,DUX4,9606.ENSP00000458065,ENSG00000274175,9606.ENSP00000479378,0,0,556,556
11759451,DUX4L8,9606.ENSP00000485452,ENSG00000274175,9606.ENSP00000479378,0,0,559,559
11759452,DYNLL2,9606.ENSP00000477310,C17orf47,9606.ENSP00000354874,212,0,0,212
11759453,FAM65B,9606.ENSP00000482957,C6orf229,9606.ENSP00000454913,0,0,0,41

'proteins_interac_unique_ids'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0,0,0,41,41,41
1,FKBP4,CALM2,0,0,0,41,41,41
2,CYP51A1,CALM2,0,0,0,41,41,41
3,PDK4,CALM2,0,0,104,104,104,104
4,RALA,CALM2,313,0,0,313,313,313
...,...,...,...,...,...,...,...,...
11759449,DUX4L7,ENSG00000274175,0,0,560,560,560,560
11759450,DUX4,ENSG00000274175,0,0,556,556,556,556
11759451,DUX4L8,ENSG00000274175,0,0,559,559,559,559
11759452,DYNLL2,C17orf47,212,0,0,212,212,212
11759453,FAM65B,C6orf229,0,0,0,41,41,41

'proteins_interac_nonunique_ids'

,Protein 1,Protein 1 ID,Protein 2,Protein 2 ID,experiments,database,textmining,Physical Combined Score
720,ENSG00000258947,9606.ENSP00000320295,CALM2,9606.ENSP00000272298,0,0,94,94
1737,ENSG00000258947,9606.ENSP00000451560,CALM2,9606.ENSP00000272298,0,0,84,84
1816,ENSG00000243667,9606.ENSP00000477980,CALM2,9606.ENSP00000272298,0,0,0,41
2128,ENSG00000258947,9606.ENSP00000320295,ARHGEF9,9606.ENSP00000253401,0,0,0,41
2524,ENSG00000258947,9606.ENSP00000451560,ARHGEF9,9606.ENSP00000253401,0,0,0,41
...,...,...,...,...,...,...,...,...
11724878,PADI6,9606.ENSP00000483125,ENSG00000239810,9606.ENSP00000480027,0,0,257,256
11724879,PRAMEF7,9606.ENSP00000484237,ENSG00000239810,9606.ENSP00000480027,0,0,0,41
11724880,PRAMEF25,9606.ENSP00000485258,ENSG00000239810,9606.ENSP00000480027,0,0,0,41
11724881,DUX4L8,9606.ENSP00000485452,ENSG00000239810,9606.ENSP00000480027,0,0,420,420
11724882,PRAMEF18,9606.ENSP00000485473,ENSG00000239810,9606.ENSP00000480027,0,0,0,41

,Protein 1,Protein 2,Protein 1 ID,Protein 2 ID,experiments,database,textmining,Physical Combined Score
5269,ENSG00000258947,ENSG00000166160,3,3,3,3,3,3
1540,ENSG00000166160,ENSG00000258947,3,3,3,3,3,3
5415,ENSG00000258947,GFRA2,2,2,2,2,2,2
4717,ENSG00000258947,ANKS1B,2,2,2,2,2,2
8027,LETM1,ENSG00000183628,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...
4086,ENSG00000243667,PRKAR1B,1,1,1,1,1,1
4085,ENSG00000243667,PRKAR1A,1,1,1,1,1,1
4084,ENSG00000243667,PRKACG,1,1,1,1,1,1
4083,ENSG00000243667,PRKACB,1,1,1,1,1,1
10829,ZUFSP,ENSG00000197054,1,1,1,1,1,1

1    5608
2    5220
3       2
Name: Physical Combined Score, dtype: int64

'corrected_proteins_interac_nonunique_ids'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,339010,ENSG00000243667,NaN,NaN,NaN,NaN,41,41.0
1,339010,ENSG00000258947,NaN,NaN,NaN,NaN,41,41.0
2,AAMDC,ENSG00000243667,NaN,NaN,NaN,NaN,41,41.0
3,ABCA4,ENSG00000166160,NaN,NaN,NaN,NaN,145,145.0
4,ABCB1,ENSG00000258947,NaN,NaN,NaN,NaN,329,307.5
...,...,...,...,...,...,...,...,...
10825,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,268,267.0
10826,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,214,214.0
10827,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,215,213.5
10828,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,41,41.0
10829,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,284,284.0

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.0,0.0,0.0,41.0,41,41.0
1,FKBP4,CALM2,0.0,0.0,0.0,41.0,41,41.0
2,CYP51A1,CALM2,0.0,0.0,0.0,41.0,41,41.0
3,PDK4,CALM2,0.0,0.0,104.0,104.0,104,104.0
4,RALA,CALM2,313.0,0.0,0.0,313.0,313,313.0
...,...,...,...,...,...,...,...,...
10825,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,268,267.0
10826,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,214,214.0
10827,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,215,213.5
10828,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,41,41.0
10829,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,284,284.0

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
10825,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,0.268,0.2670
10826,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,0.214,0.2140
10827,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,0.215,0.2135
10828,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,0.041,0.0410
10829,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,0.284,0.2840

Printing out counting statistics for entire filtering and correction process
-----------------------------------------------------------------------------
Number of Original Records: 11759454
Number of Self-Interacting Protein Records: 4
Number of Non-self Interacting Protein Records: 11759450

Number of Records containing Non-self Interacting Unique Protein ID: 11743396
Number of Records containing Non-self Interacting Non-unique Protein ID: 16054
Number of Records containing Non-self Interacting Non-unique Protein ID (Corrected): 10830

Number of Records in Final Table: 11754226
Number of Records reduced: 5228

Constructed and saved outputs/output_clean_string_score_table/string_score_table.csv
Constructed and saved inputs/input_string_network_analysis/string_score_table.csv
Constructed and saved inputs/input_filter_string_and_pathfx_score_tables/string_score_table.csv
Finished Running clean_string_score_table.ipynb

Running filter_string_and_pathfx_score_tables.ipynb ...

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
11754221,ZSCAN5A,ENSG00000239810,NaN,NaN,NaN,NaN,0.268,0.2670
11754222,ZSWIM3,ENSG00000197054,NaN,NaN,NaN,NaN,0.214,0.2140
11754223,ZSWIM3,ENSG00000239810,NaN,NaN,NaN,NaN,0.215,0.2135
11754224,ZSWIM7,ENSG00000166160,NaN,NaN,NaN,NaN,0.041,0.0410
11754225,ZUFSP,ENSG00000197054,NaN,NaN,NaN,NaN,0.284,0.2840

'pathfx_score_df'

           source          target    weight
0       rs1042713   isoproterenol  0.233675
1       rs1042713  Ace Inhibitors  0.285181
2       rs1042713     Angiotensin  0.285181
3       rs1042713           Plain  0.285181
4       rs1042713     risperidone  0.285181
...           ...             ...       ...
273057     SFTPA1          SFTPA2  0.359348
273058       VCAN            SELL  0.279930
273059       SELP            VCAN  0.279930
273060       NFIB            NFIC  0.279930
273061       NFIX            NFIB  0.279930

[273062 rows x 3 columns]

STRING Database
-------------------------------------------
Number of Unique Protein 1s: 19344
Number of Unique Protein 2s: 19344
Number of Unique Protein: 19344

PathFX Interactome
-------------------------------------------
Number of Unique sources: 23970
Number of Unique targets: 23970
Number of Unique sources and targets: 23970

Both STRING and PathFX
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13948
Number of distinct STRING nodes: 5396
Number of distinct PathFX nodes: 10022


Comparison of NODES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13948
Number of distinct STRING nodes: 5396
Number of distinct PathFX nodes: 10022

Comparison of EDGES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Edges from both graph networks: 72278
Number of distinct STRING edges: 5804835
Number of distinct PathFX edges: 64253

'filtered_string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
11750292,ENSG00000258947,ZNF445,NaN,NaN,NaN,NaN,0.138,0.0895
11750293,ENSG00000258947,ZNF516,NaN,NaN,NaN,NaN,0.093,0.0875
11750294,ENSG00000258947,ZNF607,NaN,NaN,NaN,NaN,0.169,0.1595
11750295,ENSG00000258947,ZNRF1,NaN,NaN,NaN,NaN,0.041,0.0410
11750296,ENSG00000258947,ZNRF2,NaN,NaN,NaN,NaN,0.041,0.0410

'filtered_pathfx_score_df'

                  source    target    weight
26                CHMP1B    KNSTRN  0.279930
27                CHMP1B      USP8  0.562588
28                CHMP1B    STAMBP  0.676545
29                CHMP1B     SPAST  0.416595
30                CHMP1B  SNRNP200  0.279930
...                  ...       ...       ...
273016               tat      GPX2  0.246744
273017               tat      GPX5  0.246744
273018               tat      GPX6  0.246744
273020               tat     BRIX1  0.279930
273048  uniprotkb:I6L9F6      USP2  0.471716

[262240 rows x 3 columns]

'filtered_string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
11750292,ENSG00000258947,ZNF445,NaN,NaN,NaN,NaN,0.138,0.0895
11750293,ENSG00000258947,ZNF516,NaN,NaN,NaN,NaN,0.093,0.0875
11750294,ENSG00000258947,ZNF607,NaN,NaN,NaN,NaN,0.169,0.1595
11750295,ENSG00000258947,ZNRF1,NaN,NaN,NaN,NaN,0.041,0.0410
11750296,ENSG00000258947,ZNRF2,NaN,NaN,NaN,NaN,0.041,0.0410

'filtered_pathfx_score_df'

                  source    target    weight
26                CHMP1B    KNSTRN  0.279930
27                CHMP1B      USP8  0.562588
28                CHMP1B    STAMBP  0.676545
29                CHMP1B     SPAST  0.416595
30                CHMP1B  SNRNP200  0.279930
...                  ...       ...       ...
273016               tat      GPX2  0.246744
273017               tat      GPX5  0.246744
273018               tat      GPX6  0.246744
273020               tat     BRIX1  0.279930
273048  uniprotkb:I6L9F6      USP2  0.471716

[262240 rows x 3 columns]

Filtered STRING Database
-------------------------------------------
Number of Unique Protein 1s: 19338
Number of Unique Protein 2s: 19338
Number of Unique Protein: 19338

Filtered PathFX Interactome
-------------------------------------------
Number of Unique sources: 22832
Number of Unique targets: 22832
Number of Unique sources and targets: 22832

Both STRING and PathFX
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13948
Number of distinct STRING nodes: 5390
Number of distinct PathFX nodes: 8884

Constructed and saved outputs/output_filter_string_and_pathfx_score_tables/pathfx_score_table.csv.csv
Constructed and saved outputs/output_filter_string_and_pathfx_score_tables/string_score_table.csv.csv
Constructed and saved inputs/input_pathfx_network_analysis/pathfx_score_table.csv
Constructed and saved inputs/input_string_network_analysis/string_score_table.csv
Finished Running filter_string_and_pathfx_score_tables.ipynb

Running pathfx_network_analysis.ipynb ...

'pathfx_score_df'

                  source    target    weight
0                 CHMP1B    KNSTRN  0.279930
1                 CHMP1B      USP8  0.562588
2                 CHMP1B    STAMBP  0.676545
3                 CHMP1B     SPAST  0.416595
4                 CHMP1B  SNRNP200  0.279930
...                  ...       ...       ...
262235               tat      GPX2  0.246744
262236               tat      GPX5  0.246744
262237               tat      GPX6  0.246744
262238               tat     BRIX1  0.279930
262239  uniprotkb:I6L9F6      USP2  0.471716

[262240 rows x 3 columns]

Outputting Number of Distinct Proteins
------------------------------------------------
Number of Unique sources: 22832
Number of Unique targets: 22832
Number of Unique sources and targets: 22832

'pathfx_source_to_target_weight_stats_df'

       source  count      mean       std       max       min          sum
15239     UBC   6753  0.528777  0.132470  0.935012  0.279930  3570.832522
691       APP   1984  0.287942  0.040666  0.705007  0.246744   571.276135
13717   SUMO2    713  0.429295  0.086484  0.818355  0.246936   306.087256
14713    TP53    627  0.417612  0.124118  0.990000  0.246936   261.842982
22077     tat    436  0.321098  0.085697  0.770889  0.246744   139.998813
...       ...    ...       ...       ...       ...       ...          ...
12227    RTTN      1  0.605763       NaN  0.605763  0.605763     0.605763
12226  RTT109      1  0.416595       NaN  0.416595  0.416595     0.416595
12224    RTP2      1  0.279930       NaN  0.279930  0.279930     0.279930
12214  RTFDC1      1  0.279930       NaN  0.279930  0.279930     0.279930
22831    yqeH      1  0.380279       NaN  0.380279  0.380279     0.380279

[22832 rows x 7 columns]

'pathfx_num_target_per_source_stats_df'

       Number Target Interacton Per Source
count                         22832.000000
mean                             11.485634
std                              52.692758
max                            6753.000000
min                               1.000000
sum                          262240.000000

'pathfx_num_interac_distribution_df'

     Number of Protein Interactions  count
0                                 1   6955
1                                 3   2691
2                                 2   2409
3                                 4   1488
4                                 5   1033
..                              ...    ...
190                             394      1
189                             407      1
188                             418      1
187                             428      1
239                            6753      1

[240 rows x 2 columns]

'pathfx_edge_score_distribution_df'

      Edge Score  count
0       0.279930  38100
1       0.323872  18812
2       0.380279  11614
3       0.471716  11525
4       0.346946   7614
...          ...    ...
694     0.725046      1
693     0.809616      1
692     0.788432      1
691     0.915291      1
1062    0.571069      1

[1063 rows x 2 columns]

'pathfx_removed_cross_pair_df'

            source    target    weight
0           CHMP1B    KNSTRN  0.279930
1           CHMP1B      USP8  0.562588
2           CHMP1B    STAMBP  0.676545
3           CHMP1B     SPAST  0.416595
4           CHMP1B  SNRNP200  0.279930
...            ...       ...       ...
262189        Ppif     VDAC1  0.279930
262195      ADGRG1     ADRB2  0.490794
262198       ORF26    TRIM37  0.279930
262200  ALL3_AEDAE    COL3A1  0.416595
262221       ORF28     STX17  0.279930

[131120 rows x 3 columns]

'pathfx_all_weight_stats_df'

              weight
count  131120.000000
mean        0.387541
std         0.131891
max         0.990000
min         0.244958
sum     50814.314438

Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_score_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_all_weight_stats_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_num_target_per_source_stats_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_source_to_target_weight_stats.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_num_interac_distribution_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/csv_files/pathfx_removed_cross_pair_pathfx_table.csv
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in PathFX_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in PathFX (Zoomed)_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in PathFX (Zoomed 2x)_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of edge scores in PathFX_histplot.png
Constructed and saved outputs/output_pathfx_network_analysis/visual_graphs/Distribution of edge scores in PathFX (Zoomed)_histplot.png

PathFX Interactome
-------------------------------------------
Number of Unique sources: 22832
Number of Unique targets: 22832
Number of Unique sources and targets: 22832


Constructing Network graph for Protein-Protein Combined score interaction (Avg Physical Combined Score)


Saving Constructed Network graph for PathFX

PathFX NetworkX Interactome Graph
-------------------------------------
Number of Nodes: 22832
Number of Edges: 131120

Average node degree: 11.48563419761738
Standard Deviation node degree: 52.69275848135201
Max node degree: 6753.0
Min node degree: 1.0

Average edge weight: 0.3875405310995365
Standard Deviation node degree: 0.13189134383586784
Max edge weight: 0.99
Min edge weight: 0.244957679172

nx Graph is connected - False
Number of Connected Components: 121

Top 25 Proteins with Most Neighbors - Weighted Edge Scores
-------------------------------------------------------------------------------------
          source  count      mean       std       max       min          sum
15239        UBC   6753  0.528777  0.132470  0.935012  0.279930  3570.832522
691          APP   1984  0.287942  0.040666  0.705007  0.246744   571.276135
13717      SUMO2    713  0.429295  0.086484  0.818355  0.246936   306.087256
14713       TP53    627  0.417612  0.124118  0.990000  0.246936   261.842982
22077        tat    436  0.321098  0.085697  0.770889  0.246744   139.998813
4248        EGFR    428  0.411818  0.127012  0.990000  0.246936   176.258227
4422       EP300    418  0.396489  0.119200  0.831286  0.246936   165.732220
1480       BRCA1    407  0.385077  0.124197  0.832451  0.246744   156.726326
6028       HDAC1    394  0.424392  0.121547  0.990000  0.246936   167.210341
5732        GRB2    392  0.361033  0.091608  0.743959  0.279930   141.524839
15265      UBE2I    387  0.347021  0.097861  0.990000  0.246936   134.297148
3102     CSNK2A1    362  0.329635  0.076515  0.691677  0.246936   119.327712
13716      SUMO1    352  0.403492  0.091153  0.785320  0.246936   142.029252
4523        ESR1    352  0.414969  0.138258  0.990000  0.246936   146.069250
7421       KRT40    341  0.393193  0.096163  0.593777  0.279930   134.078956
8246        MDM2    326  0.431508  0.127941  0.872160  0.279641   140.671651
13479        SRC    318  0.386717  0.103964  0.745886  0.246936   122.976079
5614      GOLGA2    312  0.398331  0.097605  0.638448  0.246936   124.279199
6440    HSP90AA1    309  0.406634  0.114617  0.816383  0.279930   125.649811
14765      TRAF2    308  0.403022  0.110303  0.858890  0.279930   124.130628
4109        Dlg4    288  0.284642  0.034273  0.703476  0.246936    81.977036
3159      CTNNB1    284  0.428168  0.123251  0.990000  0.279641   121.599799
7446   KRTAP10-3    281  0.279930  0.000000  0.279930  0.279930    78.660447
3019      CREBBP    280  0.389392  0.101388  0.816659  0.246936   109.029691
6697       IKBKG    279  0.363579  0.129515  0.990000  0.279930   101.438559

Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_G.gpickle
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_score_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_num_target_per_source_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_removed_cross_pair_pathfx_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_all_weight_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/pathfx/pathfx_source_to_target_weight_stats_table.csv
Finished Running pathfx_network_analysis.ipynb

Running string_network_analysis.ipynb ...

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
11385399,ENSG00000258947,ZNF445,NaN,NaN,NaN,NaN,0.138,0.0895
11385400,ENSG00000258947,ZNF516,NaN,NaN,NaN,NaN,0.093,0.0875
11385401,ENSG00000258947,ZNF607,NaN,NaN,NaN,NaN,0.169,0.1595
11385402,ENSG00000258947,ZNRF1,NaN,NaN,NaN,NaN,0.041,0.0410
11385403,ENSG00000258947,ZNRF2,NaN,NaN,NaN,NaN,0.041,0.0410

'string_num_protein_per_protein_stats_df'

       Number Protein Interaction Per Protein
count                            1.933800e+04
mean                             5.887581e+02
std                              5.308547e+02
max                              7.644000e+03
min                              1.000000e+00
sum                              1.138540e+07

'string_removed_cross_pair_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.0,0.0,0.000,0.041,0.041,0.0410
18,ACTL6B,CALM2,0.0,0.0,0.000,0.041,0.041,0.0410
25,AQP2,CALM2,0.0,0.0,0.051,0.050,0.050,0.0500
30,APOH,CALM2,0.0,0.0,0.000,0.041,0.041,0.0410
38,ANKRD54,CALM2,0.0,0.0,0.210,0.210,0.210,0.2100
...,...,...,...,...,...,...,...,...
11385399,ENSG00000258947,ZNF445,NaN,NaN,NaN,NaN,0.138,0.0895
11385400,ENSG00000258947,ZNF516,NaN,NaN,NaN,NaN,0.093,0.0875
11385401,ENSG00000258947,ZNF607,NaN,NaN,NaN,NaN,0.169,0.1595
11385402,ENSG00000258947,ZNRF1,NaN,NaN,NaN,NaN,0.041,0.0410
11385403,ENSG00000258947,ZNRF2,NaN,NaN,NaN,NaN,0.041,0.0410

'string_all_max_physical_combined_scores_stats_df'

       Max Physical Combined Score
count                 5.692702e+06
mean                  1.836095e-01
std                   2.223238e-01
max                   9.990000e-01
min                   4.100000e-02
sum                   1.045234e+06

'string_all_avg_physical_combined_scores_stats_df'

       Avg Physical Combined Score
count                 5.692702e+06
mean                  1.836059e-01
std                   2.223218e-01
max                   9.990000e-01
min                   4.100000e-02
sum                   1.045214e+06

Constructed and saved outputs/output_string_network_analysis/csv_files/string_score_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_num_protein_per_protein_stats_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_removed_cross_pair_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_all_max_physical_combined_scores_stats_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/string_all_avg_physical_combined_scores_stats_table.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_experiments_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_database_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_textmining_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_Physical Combined Score_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_Max Physical Combined Score_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/csv_files/summary_scores/string_summary_score_stats_for_Avg Physical Combined Score_per_protein.csv
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of experiments in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of database in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of textmining in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Physical Combined Score in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Max Physical Combined Score in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Avg Physical Combined Score in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Avg Physical Combined Score in STRING (ZOOMED LEFT)_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Disribution of Avg Physical Combined Score in STRING (ZOOMED RIGHT)_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in STRING_histplot.png
Constructed and saved outputs/output_string_network_analysis/visual_graphs/Distribution of the Number of Protein Interactions per Protein in STRING (ZOOMED)_histplot.png

'string_summary_score_stats_for_avg_physical_combined_score_df'

      Protein ID  count      mean       std    max    min        sum
0          GAPDH   7644  0.241637  0.150712  0.994  0.041  1847.0700
1           AKT1   6507  0.300910  0.222489  0.999  0.041  1958.0225
2           TP53   6193  0.354423  0.240752  0.999  0.041  2194.9425
3            INS   6053  0.320572  0.201611  0.998  0.041  1940.4200
4            MYC   5786  0.294266  0.186558  0.999  0.041  1702.6225
...          ...    ...       ...       ...    ...    ...        ...
19333   C17orf47      1  0.212000       NaN  0.212  0.212     0.2120
19334    CCDC142      1  0.041000       NaN  0.041  0.041     0.0410
19335    C5orf55      1  0.309000       NaN  0.309  0.309     0.3090
19336     CLPSL2      1  0.556000       NaN  0.556  0.556     0.5560
19337   C10orf95      1  0.379000       NaN  0.379  0.379     0.3790

[19338 rows x 7 columns]

STRING Database
-------------------------------------------
Number of Unique Protein 1s: 19338
Number of Unique Protein 2s: 19338
Number of Unique Protein: 19338


Constructing Network graph for Protein-Protein Combined score interaction (Avg Physical Combined Score)

Saving Constructed Network graph for Protein-Protein Combined score interaction (Avg Physical Combined Score)

STRING Database NetworkX Graph
-------------------------------------
Number of Nodes: 19338
Number of Edges: 5692702
Average node degree: 588.7580928741338
Standard Deviation node degree: 530.8547488309175
Max node degree: 7644.0
Min node degree: 1.0
Average edge weight: 0.1836058763441498
Standard Deviation node degree: 0.22232178512697068
Max edge weight: 0.999
Min edge weight: 0.041
nx Graph is connected - True
Number of Connected Components: 1

Top 25 Proteins with Most Neighbors - Avg Physical Combined Scored
-------------------------------------------------------------------------------------
   Protein ID  count      mean       std    max    min        sum
0       GAPDH   7644  0.241637  0.150712  0.994  0.041  1847.0700
1        AKT1   6507  0.300910  0.222489  0.999  0.041  1958.0225
2        TP53   6193  0.354423  0.240752  0.999  0.041  2194.9425
3         INS   6053  0.320572  0.201611  0.998  0.041  1940.4200
4         MYC   5786  0.294266  0.186558  0.999  0.041  1702.6225
5        HRAS   5630  0.247494  0.214646  0.998  0.041  1393.3930
6         ALB   5425  0.286800  0.181702  0.992  0.041  1555.8900
7       MAPK3   5269  0.248985  0.233512  0.999  0.041  1311.9045
8        EGFR   5156  0.300841  0.232236  0.999  0.041  1551.1375
9       LRRK2   4858  0.097913  0.124326  0.962  0.041   475.6625
10        TNF   4766  0.294572  0.206300  0.999  0.041  1403.9300
11      MAPK1   4703  0.261218  0.262223  0.999  0.041  1228.5080
12       ACTB   4606  0.231971  0.200861  0.996  0.041  1068.4600
13        SRC   4588  0.293880  0.248988  0.999  0.041  1348.3230
14        EGF   4480  0.314854  0.220550  0.999  0.041  1410.5440
15   HSP90AA1   4268  0.241845  0.239994  0.996  0.041  1032.1950
16     NOTCH1   4207  0.272807  0.190814  0.999  0.041  1147.6990
17       PTEN   4164  0.253471  0.203714  0.997  0.041  1055.4540
18        JUN   4159  0.285406  0.223273  0.999  0.041  1187.0055
19     RNASEL   4157  0.075232  0.116224  0.983  0.041   312.7390
20        IL6   4118  0.339376  0.221689  0.999  0.041  1397.5490
21      HDAC1   4047  0.213653  0.247289  0.999  0.041   864.6535
22        FN1   3983  0.304662  0.219484  0.995  0.041  1213.4705
23      CASP3   3958  0.276528  0.190892  0.999  0.041  1094.4970
24     CTNNB1   3938  0.287099  0.252422  0.999  0.041  1130.5965

Constructed and saved inputs/input_comparison_network_analysis/string/string_G.gpickle
Constructed and saved inputs/input_comparison_network_analysis/string/string_score_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_num_protein_per_protein_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_removed_cross_pair_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_all_avg_physical_combined_scores_stats_table.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_summary_score_stats_for_Avg.csv
Constructed and saved inputs/input_comparison_network_analysis/string/string_summary_score_stats_for_Avg Physical Combined Score_per_protein.csv
Finished Running string_network_analysis.ipynb

Running comparison_network_analysis.ipynb ...

'string_score_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
1,FKBP4,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
2,CYP51A1,CALM2,0.000,0.0,0.000,0.041,0.041,0.0410
3,PDK4,CALM2,0.000,0.0,0.104,0.104,0.104,0.1040
4,RALA,CALM2,0.313,0.0,0.000,0.313,0.313,0.3130
...,...,...,...,...,...,...,...,...
11385399,ENSG00000258947,ZNF445,NaN,NaN,NaN,NaN,0.138,0.0895
11385400,ENSG00000258947,ZNF516,NaN,NaN,NaN,NaN,0.093,0.0875
11385401,ENSG00000258947,ZNF607,NaN,NaN,NaN,NaN,0.169,0.1595
11385402,ENSG00000258947,ZNRF1,NaN,NaN,NaN,NaN,0.041,0.0410
11385403,ENSG00000258947,ZNRF2,NaN,NaN,NaN,NaN,0.041,0.0410

'string_num_protein_per_protein_stats_df'

       Number Protein Interaction Per Protein
count                            1.933800e+04
mean                             5.887581e+02
std                              5.308547e+02
max                              7.644000e+03
min                              1.000000e+00
sum                              1.138540e+07

'string_removed_cross_pair_df'

,Protein 1,Protein 2,experiments,database,textmining,Physical Combined Score,Max Physical Combined Score,Avg Physical Combined Score
0,ARF5,CALM2,0.0,0.0,0.000,0.041,0.041,0.0410
1,ACTL6B,CALM2,0.0,0.0,0.000,0.041,0.041,0.0410
2,AQP2,CALM2,0.0,0.0,0.051,0.050,0.050,0.0500
3,APOH,CALM2,0.0,0.0,0.000,0.041,0.041,0.0410
4,ANKRD54,CALM2,0.0,0.0,0.210,0.210,0.210,0.2100
...,...,...,...,...,...,...,...,...
5692697,ENSG00000258947,ZNF445,NaN,NaN,NaN,NaN,0.138,0.0895
5692698,ENSG00000258947,ZNF516,NaN,NaN,NaN,NaN,0.093,0.0875
5692699,ENSG00000258947,ZNF607,NaN,NaN,NaN,NaN,0.169,0.1595
5692700,ENSG00000258947,ZNRF1,NaN,NaN,NaN,NaN,0.041,0.0410
5692701,ENSG00000258947,ZNRF2,NaN,NaN,NaN,NaN,0.041,0.0410

'string_all_avg_physical_combined_scores_stats_df'

       Avg Physical Combined Score
count                 5.692702e+06
mean                  1.836059e-01
std                   2.223218e-01
max                   9.990000e-01
min                   4.100000e-02
sum                   1.045214e+06

'string_summary_score_stats_for_avg_physical_combined_score_df'

      Protein ID  count      mean       std    max    min        sum
0          GAPDH   7644  0.241637  0.150712  0.994  0.041  1847.0700
1           AKT1   6507  0.300910  0.222489  0.999  0.041  1958.0225
2           TP53   6193  0.354423  0.240752  0.999  0.041  2194.9425
3            INS   6053  0.320572  0.201611  0.998  0.041  1940.4200
4            MYC   5786  0.294266  0.186558  0.999  0.041  1702.6225
...          ...    ...       ...       ...    ...    ...        ...
19333   C17orf47      1  0.212000       NaN  0.212  0.212     0.2120
19334    CCDC142      1  0.041000       NaN  0.041  0.041     0.0410
19335    C5orf55      1  0.309000       NaN  0.309  0.309     0.3090
19336     CLPSL2      1  0.556000       NaN  0.556  0.556     0.5560
19337   C10orf95      1  0.379000       NaN  0.379  0.379     0.3790

[19338 rows x 7 columns]

'pathfx_score_df'

                  source    target    weight
0                 CHMP1B    KNSTRN  0.279930
1                 CHMP1B      USP8  0.562588
2                 CHMP1B    STAMBP  0.676545
3                 CHMP1B     SPAST  0.416595
4                 CHMP1B  SNRNP200  0.279930
...                  ...       ...       ...
262235               tat      GPX2  0.246744
262236               tat      GPX5  0.246744
262237               tat      GPX6  0.246744
262238               tat     BRIX1  0.279930
262239  uniprotkb:I6L9F6      USP2  0.471716

[262240 rows x 3 columns]

'pathfx_num_target_per_source_stats_df'

       Number Target Interacton Per Source
count                         22832.000000
mean                             11.485634
std                              52.692758
max                            6753.000000
min                               1.000000
sum                          262240.000000

'pathfx_removed_cross_pair_df'

            source    target    weight
0           CHMP1B    KNSTRN  0.279930
1           CHMP1B      USP8  0.562588
2           CHMP1B    STAMBP  0.676545
3           CHMP1B     SPAST  0.416595
4           CHMP1B  SNRNP200  0.279930
...            ...       ...       ...
131115        Ppif     VDAC1  0.279930
131116      ADGRG1     ADRB2  0.490794
131117       ORF26    TRIM37  0.279930
131118  ALL3_AEDAE    COL3A1  0.416595
131119       ORF28     STX17  0.279930

[131120 rows x 3 columns]

'pathfx_all_weight_stats_df'

              weight
count  131120.000000
mean        0.387541
std         0.131891
max         0.990000
min         0.244958
sum     50814.314438

'pathfx_source_to_target_weight_stats_df'

       source  count      mean       std       max       min          sum
0         UBC   6753  0.528777  0.132470  0.935012  0.279930  3570.832522
1         APP   1984  0.287942  0.040666  0.705007  0.246744   571.276135
2       SUMO2    713  0.429295  0.086484  0.818355  0.246936   306.087256
3        TP53    627  0.417612  0.124118  0.990000  0.246936   261.842982
4         tat    436  0.321098  0.085697  0.770889  0.246744   139.998813
...       ...    ...       ...       ...       ...       ...          ...
22827    RTTN      1  0.605763       NaN  0.605763  0.605763     0.605763
22828  RTT109      1  0.416595       NaN  0.416595  0.416595     0.416595
22829    RTP2      1  0.279930       NaN  0.279930  0.279930     0.279930
22830  RTFDC1      1  0.279930       NaN  0.279930  0.279930     0.279930
22831    yqeH      1  0.380279       NaN  0.380279  0.380279     0.380279

[22832 rows x 7 columns]

STRING Database
-------------------------------------------
Number of Unique Protein 1s: 19338
Number of Unique Protein 2s: 19338
Number of Unique Protein: 19338


PathFX Interactome
-------------------------------------------
Number of Unique sources: 22832
Number of Unique targets: 22832
Number of Unique sources and targets: 22832


Both STRING and PathFX
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13948
Number of distinct STRING nodes: 5390
Number of distinct PathFX nodes: 8884


Comparison of NODES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Nodes from both graph networks: 13948
Number of distinct STRING nodes: 5390
Number of distinct PathFX nodes: 8884


Comparison of EDGES in STRING and PathFX NetworkX Graphs
----------------------------------------------------------------
Number of Shared Common Edges from both graph networks: 72278
Number of distinct STRING edges: 5620424
Number of distinct PathFX edges: 58842

Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of edge scores in STRING and PathFX_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of edge scores in STRING and PathFX (ZOOMED RIGHT)_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of edge scores in STRING and PathFX (ZOOMED LEFT)_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of Number of Interactions per Protein in STRING and PathFX_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of Number of Interactions per Protein in STRING and PathFX (ZOOMED)_histplot.png
Constructed and saved outputs/output_comparison_network_analysis/visual_graphs/Distribution of Number of Interactions per Protein in STRING and PathFX (ZOOMED 2x)_histplot.png
Finished Running comparison_network_analysis.ipynb

Finished Running all iPython Notebooks

Saving Output Folders...
Folder output_pathfx_network_analysis renamed to outputs/FLTERED_FOR_CLOSE_NODES_output_pathfx_network_analysis successfully
Folder output_string_network_analysis renamed to outputs/FLTERED_FOR_CLOSE_NODES_output_string_network_analysis successfully
Folder output_comparison_network_analysis renamed to outputs/FLTERED_FOR_CLOSE_NODES_output_comparison_network_analysis successfully

================================================================================================